<!-- modal dialog to confirm changing username before updating email address -->
<div class="modal fade" id="usernameConfirmModal" tabindex="-1" role="dialog" aria-labelledby="usernameConfirmModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header gs-modal-header">
                <h4 class="modal-title gs-modal-title" id="usernameConfirmModalLabel">Graduate School USA - Updating Username</h4>
            </div>
            <div class="modal-body">
                <p>Your username will be updated to match your new email address. When logging in please use your new email address.</p>
            </div>
            <div class="modal-footer gs-modal-footer">
                <a href="#" id="usernameChangeCancel" class="blueish" data-dismiss="modal">Cancel</a>
                <a href="#" id="usernameChangeConfirm" class="reddish" data-dismiss="modal">Ok</a>
            </div>
        </div>
    </div>
</div>
<!-- END - username update confirmation modal dialog -->