
<%# <div class="banner">
  <h3>
    <a href="#" class="underline">Secure your registration now in one of our nationwide 'Guaranteed to Go' class sessions <img src="/images/arrow.png" alt="" /></a>
  </h3>
</div>%>
