<div class="row footer">
  <div class="container">
    <footer class="center">
      <p class="copy"> &copy; 2015 Graduate School USA </p>
      <nav class="social_media">
        <ul>
          <li><a href="http://www.facebook.com/GraduateSchoolUSA" target="_blank">Facebook</a></li>
          <li><a href="http://twitter.com/thegradschool" target="_blank">Twitter</a></li>
          <li><a href="http://www.youtube.com/user/TheGradSchool" target="_blank">Youtube</a></li>
          <li><a href="http://www.flickr.com/photos/thegradschool" target="_blank">Flickr</a></li>
        </ul>
      </nav>
    </footer>
  </div>
</div>
