<!--nutch_noindex-->

<!--  Top Nav -->
<% include ../partials/nav_top %>
<!--  END Top Nav -->

<!--  HEADER -->
<div id="header" class="container">
	<div class="row header clearfix ">
		<header>
				<div class="col-lg-9 col-md-8 col-sm-7 col-xs-7">
					<a href="/">
						<img alt="Graduate School" src="/images/logo.png" class="logo">
					</a>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
					<div	class="spacer"></div>
					<div class="wrapper">
						<div id="searchIcon">
							<img alt="" src="/images/search.png" class="">
						</div>

						<div id="home-search" class="searchBox">
							<form id="search-form" action="javascript:performCourseSearch();">
								<div class="input-group">
									<input type="text" id="searchCriteria" name="searchCriteria" class="form-control searchCriteria" placeholder="course, course ID, content" pattern=".{3,}" required title="3 characters minimum">
									<span class="input-group-btn">
										<button id="course-search-button" class="btn btn-default" type="submit">
											<img alt="" src="/images/search.png">
										</button>
									</span>
								</div>
								<div class="locations">
										<span>Or find a course by:</span>
											<select id="selSearchLocation" class="form-control">
													<option value="">Locations</option>
													<% locations.forEach(function(location) { %>
														<option value="<%= location %>"><%= location %></option>
													<% }); %>
											</select>
								</div>
							</form>
						</div> <!-- END searchBox #HomeSearch -->
					</div>
				</div>
		</header><!-- END header -->
	</div> <!-- END Row -->
</div><!-- END Container -->

<!-- Navigation  -->
<% include ../partials/nav %>
<!-- END Navigation  -->
<!--  END HEADER -->

  <!-- Title Section -->
<% include ../partials/title %>
<!-- END Title Section -->

<!--/nutch_noindex-->
