<div class="container-fluid nav-top-slim" id="top-header-slim"></div>
<div id="headerslim" class="container">
    <div class="row headerslim">
        <header>
            <div class="col-lg-7 col-md-6 col-sm-5 col-xs-8">
                <a id="gs-logo" href="/">
                    <img alt="Graduate School" src="/images/logo-mobile.png" class="logo responsive">
                </a>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-7 col-xs-4 right-menu">
              <% if (typeof userFirstName === 'string' && userFirstName != ""){%>
                <!-- LoggedBox when user is logged in - Desktop -->
                <% include ../partials/logged-widget-desktop %>
                <div class="mobile">
                  <a href="#" class="login-mobile logged" id="login-mob-logged" href="#">
                    <span class="block icon"><img src="/images/h_login_icon_small.png" alt="" /></span>
                    <span class="menutext"><span class="block">My</span><span class="block account">Account</span></span>
                  </a>
                </div>
              <% } else { %>
                <div class="non-mobile">
                  <div class="center">
                    <a href="#" class="login" id="login-non-mob-slim" href="#" data-toggle="popover" data-placement="bottom" data-container="body" type="button" data-html="true"><img src="/images/h_cart_circle.png" alt="" /> Login <img src="/images/h_arrow_down.png" alt="" /></a>
                  </div>
                </div>
                <div class="mobile">
                  <a href="#" class="login-mobile" id="login-mob" href="#" data-toggle="popover" data-placement="bottom" data-container="body" type="button" data-html="true">
                    <span class="block icon"><img src="/images/h_login_icon_big.png" alt="" /></span>
                    <span class="menutext">Login</span>
                  </a>
                </div>
              <% } %>
            </div>
            <!-- Includes Login popover content and LoggedBox Dropdown for Mobile -->
            <% include ../partials/login_widget %>
        </header>
    </div> <!-- END Row -->
</div>
<div class="container-fluid title-divider"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h1 class="header-title"><%= title %></h1>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a href="/" class="back-to-homepage">Back to Homepage</a>
      </div>
    </div>
  </div>
<div class="container-fluid title-divider"></div>
<div class="spacer40"></div>
