
<!--  HEADER -->
<div id="header" class="container">
	<div class="row header clearfix">
		<header>
				<div class="col-lg-5 col-md-5 col-sm-7 col-xs-7 non-mobile ">
					<a id="gs-logo" href="/">
						<img alt="Graduate School" src="/images/logo.png" class="logo logo-fix-mid">
					</a>
				</div>
				<div class="col-lg-9 col-md-8 col-sm-9 col-xs-9 header-mob mobile ">
					<a id="gs-logo-mob" href="/">
						<img alt="Graduate School" src="/images/logo-mobile.png" class="logo-mob">
					</a>
				</div>

				<div>
					<div class="spacer60"></div>
					<div class="row">
						<div class="alignright">
						  <a id="nav-menu-contact-us-email1" class="search" href="/forms/contact-us"><img src="/images/email-us.png" alt="">Contact Graduate School</a>
						</div>
					</div>


				</div>
		</header><!-- END header -->
	</div> <!-- END Row -->
</div><!-- END Container -->

<!--  END HEADER -->
<hr class="mobile">
<!-- Title Section -->
<% include ../partials/title %>
<!-- END Title Section -->

<!--/nutch_noindex-->
