<!--  Header -->
<% include ../partials/nav_top %>

<div class="container">
	<div class="row header clearfix ">
		<header>
				<div class="col-lg-4">
					<a href="/">
						<img alt="Graduate School" src="/images/logo.jpg" class="logo">
					</a>
				</div>
				<div class="col-lg-5">
					<ul class="quick-links">
						<li><a href="#" class="underline"><img alt="" src="/images/register.png" class=""> Register</a></li>
						<li><a href="#" class="underline"><img alt="" src="/images/bookstore.png" class=""> Bookstore</a></li>
						<li><a href="/content/financial-aid" class="underline"><img alt="" src="/images/finance.png" class=""> Financial Aid</a></li>
					</ul>
				</div>
				<div class="col-lg-3">
					<ul class="customer-support">
						<li><a href="#" ><img alt="" src="/images/email.png" class=""> Customer Support</a></li>
						<li><a href="#" ><img alt="" src="/images/phone.png" class=""> (888) 744-GRAD</a></li>
					</ul>

					<div id="home-search">
						<form id="search-form" action="javascript:performCourseSearch();">
							<div class="input-group">
								<input type="text" id="searchCriteria" class="form-control" placeholder="" pattern=".{3,}" required title="3 characters minimum">
								<span class="input-group-btn">
									<button id="course-search-button" class="btn btn-default" type="submit">
										<img alt="" src="/images/search.png" class="">
									</button>
								</span>
							</div>
						</form>
						<%# <div id="searchWarn" class="alert alert-warning" role="alert">You must have at least 3 characters.</div>%>
					</div>
				</div>
		</header><!-- END header -->
	</div> <!-- END Row -->
</div><!-- END Container -->

<!-- NAVIGATION  -->
<div class="container">
	<div class="row clearfix">
		<% include ../partials/nav %>
	</div> <!-- END Row  -->
</div><!-- END Container  -->
<!-- END NAVIGATION  -->
<!--  END Header -->
