<div class="non-mobile">
  <div class="center">
    <span id="loggedLabel" class="login"><img src="/images/h_cart_circle.png" alt="" /> <%=userFirstName%> </span><img style="display:none;" id="dropdown-arrow" src="/images/h_arrow_down.png" alt="" />
  </div>
  <div class="login-sub-menu" id="login-sub-menu">
    <div class="arrow-up"></div>
    <ul>
      <li><a id="viewCartButton" href="#"><img src="/images/r_cart.png" alt="" /> View Cart</a></li>
      <li><a id="myProfileButton" href="#"><img src="/images/r_my_account.png" alt="" /> My Profile</a></li>
      <li><a id="logoutButton" href="/manage/user/logout"><img src="/images/r_log_out.png" alt="" /> Log Out</a></li>
    </ul>
  </div>
</div>
