<div class="container-fluid nav-top">
  <div id="left-panel-fix"></div>
  <div class="container">
  <!-- START TOP PANEL -->
    	<div id="nav-top">
    		<div class="container npanel">
                     <div class="left-panel col-lg-3">
                         <ul class="nav nav-pills nav-stacked ">
                             <li class="active"><a href="#current-students" data-toggle="tab">Current Students</a></li>
                             <li><a href="#prospective-students" data-toggle="tab">Prospective Students</a></li>
                             <li><a href="#training-official" data-toggle="tab">Training Official</a></li>
                         </ul>
                     </div>
                         <div class="tab-content col-lg-9">
                             <div class="tab-pane active" id="current-students">
                                   <div class="col-lg-4 col-md-2 col-sm-4">
                                       <h3>Graduate School</h3>
                                       <ul>
                                         <li><a href="#">Training Locations & Hotels</a></li>
                                         <li><a href="#">Accreditation & Approvals</a></li>
                                         <li><a href="#">Policies</a></li>
                                         <li><a href="#">Accessibility</a></li>
                                         <li><a href="#">Mission</a></li>
                                         <li><a href="#">Instructor Opportunities</a></li>
                                         <li><a href="#">Contact Us</a></li>
                                       </ul>
                                   </div>
                                   <div class="col-lg-4 col-md-2 col-sm-4">
                                     <h3>Students</h3>
                                     <ul>
                                       <li><a href="#">Resources</a></li>
                                       <li><a href="#">Course Catalog</a></li>
                                       <li><a href="#">Register</a></li>
                                       <li><a href="#">Online Bookstore</a></li>
                                       <li><a href="#">Financial Aid</a></li>
                                       <li><a href="#">Search</a></li>
                                     </ul>
                                   </div>
                                   <div class="col-lg-4 col-md-2 col-sm-4">
                                     <h3>Training Officers</h3>
                                     <ul>
                                       <li><a href="#">Request for Estimate</a></li>
                                       <li><a href="#">Customized Solutions</a></li>
                                       <li><a href="#">Resources</a></li>
                                     </ul>
                                   </div>

                             </div>
                             <div class="tab-pane" id="prospective-students">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                             <div class="tab-pane" id="training-official">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum auctor accumsan. Duis pharetra
                             varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
                         </div>


            </div><!-- .container -->

    		<div class="toggle colored-bg hide-panel" style="z-index: 25;">
          <a class="nav-top-button pull-right" href="#">
            <img src="/images/nav-top-icon.png" alt="" />
          </a>
    		</div><!-- END toggle -->
    	</div>
    	<!-- END TOP PANEL -->
  </div>
  </div>
