  <!-- TOP NAVIGATION -->
<div class="container-fluid nav-top">
  <div class="container">
  <!-- START TOP PANEL -->
    	<div id="nav-top">
    		<div class="container npanel">
          <div class="fix">
                     <div class="left-panel col-lg-3">
                         <ul class="nav nav-pills nav-stacked ">
                             <li class="active"><a href="#current-students" data-toggle="tab"><img src="/images/current-students.png" alt="" class="size-fix" /> Current Students</a></li>
                             <li><a href="#prospective-students" data-toggle="tab"><img src="/images/prospective-students.png" alt="" class="size-fix" /> Prospective Students</a></li>
                             <li><a href="#training-official" data-toggle="tab"><img src="/images/training-official.png" alt="" class="size-fix" /> Training Official</a></li>
                         </ul>
                     </div>
                         <div class="tab-content col-lg-9 fix-padding-bottom">
                             <div class="tab-pane active" id="current-students">
                                   <div class="col-lg-4 col-md-2 col-sm-4">
                                    <h3>Daytime Courses</h3>
                                     <ul>
                                       <li><a href="#">Acquisition</a></li>
                                       <li><a href="#">Audit Career Levels</a></li>
                                       <li><a href="#">Business Analysis</a></li>
                                       <li><a href="#">Classroom Alternatives</a></li>
                                       <li><a href="#">Communication and Professional Skills</a></li>
                                       <li><a href="#">Executive Management Supervision</a></li>
                                       <li><a href="#">Financial Management</a></li>
                                       <li><a href="#">Foreign Language Courses</a></li>
                                       <li><a href="#">Human Resources</a></li>
                                       <li><a href="#">Grants Management</a></li>
                                       <li><a href="#">Personal Property Management</a></li>
                                       <li><a href="#">Program and Management Analyst</a></li>
                                       <li><a href="#">Project Management</a></li>
                                       <li><a href="#">Retirement Planning and Benefits</a></li>
                                       <li><a href="#">Security Training</a></li>
                                     </ul>
                                   </div>
                                   <div class="col-lg-4 col-md-2 col-sm-4">
                                     <h3>Online Learning</h3>
                                     <ul>
                                       <li><a href="#">Blackboard Login</a></li>
                                       <li><a href="#">Webinars</a></li>
                                     </ul>

                                     <h3>Evening/Weekend (DC area only)</h3>
                                     <ul>
                                       <li><a href="#">Evening/Weekend Info & Calendar</a></li>
                                       <li><a href="#">Evening/Weekend FAQ</a></li>
                                       <li><a href="#">Register/View Courses By Team</a></li>
                                       <li><a href="#">Bookstore</a></li>
                                       <li><a href="#">Evening Certificate Programs</a></li>
                                     </ul>

                                      <h3>Participant Information</h3>
                                      <ul>
                                        <li><a href="#">Registration Information</a></li>
                                        <li><a href="#">Training Accessibility / ADA</a></li>
                                        <li><a href="#">Students Admissions Policy</a></li>
                                      </ul>

                                   </div>
                                   <div class="col-lg-4 col-md-2 col-sm-4">
                                     <h3>Online Forms</h3>
                                     <ul>
                                       <li><a href="#">GSUSA Registration forms </a></li>
                                       <li><a href="#">GSUSA Academic Programs forms </a></li>
                                       <li><a href="#">Certificate Program </a></li>
                                       <li><a href="#">Registrar’s Office </a></li>
                                       <li><a href="#">Online Learning </a></li>
                                       <li><a href="#">Manage your Mailing lists information </a></li>
                                       <li><a href="#">Manage Email Lists </a></li>
                                       <li><a href="#">Customer Feedback </a></li>
                                     </ul>
                                   </div>

                             </div>
                             <div class="tab-pane" id="prospective-students">
                               <div class="col-lg-4 col-md-2 col-sm-4">
                                 <h3>Daytime Courses</h3>
                                  <ul>
                                    <li><a href="#">Acquisition</a></li>
                                    <li><a href="#">Audit Career Levels</a></li>
                                    <li><a href="#">Business Analysis</a></li>
                                    <li><a href="#">Classroom Alternatives</a></li>
                                    <li><a href="#">Communication and Professional Skills</a></li>
                                    <li><a href="#">Executive Management Supervision</a></li>
                                    <li><a href="#">Financial Management</a></li>
                                    <li><a href="#">Foreign Language Courses</a></li>
                                    <li><a href="#">Human Resources</a></li>
                                    <li><a href="#">Grants Management</a></li>
                                    <li><a href="#">Personal Property Management</a></li>
                                    <li><a href="#">Program and Management Analyst</a></li>
                                    <li><a href="#">Project Management</a></li>
                                    <li><a href="#">Retirement Planning and Benefits</a></li>
                                    <li><a href="#">Security Training</a></li>
                                  </ul>
                               </div>

                               <div class="col-lg-4 col-md-2 col-sm-4">
                                 <h3>Evening/Weekend (DC area only)</h3>
                                 <ul>
                                   <li><a href="#">Evening/Weekend Info & Calendar</a></li>
                                   <li><a href="#">Evening/Weekend FAQ</a></li>
                                   <li><a href="#">Register/View Courses By Team</a></li>
                                   <li><a href="#">Bookstore</a></li>
                                   <li><a href="#">Evening Certificate Programs</a></li>
                                 </ul>

                                  <h3>Participant Information</h3>
                                  <ul>
                                    <li><a href="#">Registration Information</a></li>
                                    <li><a href="#">Training Accessibility / ADA</a></li>
                                    <li><a href="#">Students Admissions Policy</a></li>
                                  </ul>
                               </div>

                               <div class="col-lg-4 col-md-2 col-sm-4">
                                 <h3>Online Forms</h3>
                                 <ul>
                                   <li><a href="#">GSUSA Registration forms </a></li>
                                   <li><a href="#">GSUSA Academic Programs forms </a></li>
                                   <li><a href="#">Certificate Program Forms </a></li>
                                   <li><a href="#">Request Catalog  </a></li>
                                   <li><a href="#">Leadership Development Program </a></li>
                                   <li><a href="#">Manage your Mailing lists information </a></li>
                                   <li><a href="#">Manage Email Lists </a></li>
                                   <li><a href="#">Customer Feedback </a></li>
                                 </ul>
                               </div>
                             </div>
                             <div class="tab-pane" id="training-official">
                               <div class="col-lg-4 col-md-2 col-sm-4">
                                 <h3>Registration Information</h3>
                                 <ul>
                                   <li><a href="#">Request a quote</a></li>
                                   <li><a href="#">Register one participant</a></li>
                                   <li><a href="#">Multiple Registrations</a></li>
                                   <li><a href="#">Contact Us</a></li>
                                   <li><a href="#">Policies</a></li>
                                   <li><a href="#">Online Forms</a></li>
                                   <li><a href="#">GSA Contracts</a></li>
                                   <li><a href="#">Training accessibility</a></li>
                                   <li><a href="#">Deming Award</a></li>
                                   <li><a href="#">FAQ</a></li>
                                 </ul>
                               </div>

                               <div class="col-lg-4 col-md-2 col-sm-4">
                                 <h3>Courses and Programs</h3>
                                 <ul>
                                   <li><a href="#">Academic Programs (credit)</a></li>
                                   <li><a href="#">Course Selection Guide</a></li>
                                   <li><a href="#">Subject Areas</a></li>
                                   <li><a href="#">Daytime Course</a></li>
                                   <li><a href="#">Distance Education</a></li>
                                   <li><a href="#">Evening and Weekend (DC area only)</a></li>
                                   <li><a href="#"></a>Govt Training and Professional Development</li>
                                   <li><a href="#"></a>Information Technology Course</li>
                                   <li><a href="#"></a>Govt Audit Training Institute</li>
                                   <li><a href="#"></a>Leadership Development Programs</li>
                                   <li><a href="#"></a>International Institute</li>
                                   <li><a href="#"></a>Participant Information</li>
                                 </ul>

                               </div>

                               <div class="col-lg-4 col-md-2 col-sm-4">
                                 <h3>Customized Solutions</h3>
                                 <ul>
                                   <li><a href="#">Training at your location</a></li>
                                   <li><a href="#">Assessment Tools</a></li>
                                   <li><a href="#">Course Design & Development</a></li>
                                   <li><a href="#">Career Transition and Training Center Management</a></li>
                                 </ul>

                                 <h3>Online forms</h3>
                                 <ul>
                                   <li><a href="#">Request Contract Quote</a></li>
                                   <li><a href="#">Government Training Authorization forms</a></li>
                                   <li><a href="#">Leadership Development Programs</a></li>
                                   <li><a href="#">Request Catalog</a></li>
                                   <li><a href="#">Manage your Mailing list information</a></li>
                                   <li><a href="#">Manage Email List</a></li>
                                   <li><a href="#">Customer Feedback</a></li>
                                 </ul>

                               </div>
                             </div>
                         </div>

                       </div>
            </div><!-- .container -->

    		<div class="toggle colored-bg hide-panel" style="z-index: 25;">
          <a class="nav-top-button pull-right" href="#">
            <img src="/images/nav-top-icon.png" alt="" />
          </a>
    		</div><!-- END toggle -->
    	</div>	<!-- END TOP PANEL -->
  </div>
  </div>
<!-- END TOP NAVIGATION -->
