<div class="container-fluid">
  <div class="container">
    <div class="news row clearfix ">
      <div class="">
        <div class="col-lg-8 col-md-7 col-sm-12">
          <div class="testimonial">
            <img src="/images/testimonial.png" alt="" />
            <blockquote cite="">
              <span>Graduate School? Imi, aut assit, od que prenti consequ ossundae et unt atur modignat landam, que voluptae. Imi que consequidus.</span>
            </blockquote>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12">
          <div class="news-and-events">
          <h3><img src="/images/news-icon.png" alt="" /> News & Events</h3>
          <div class="news-entry">
            <div class="news-entry-header">
              <div class="row nopadding">
                <div class="col-lg-2 nopadding">
                  <div class="news-date">
                    <span class="month">Aug</span> <br>
                    <span class="day">28</span>
                  </div>

                </div>
                <div class="col-lg-10">
                  <a href="#"><h5>Social Security Administration’s ODAR/OAO Wins Deming Award for 2nd Time</h5></a>
                </div>
              </div>
            </div>
            <div class="row news-excerpt nopadding">
              <p>
                For Immediate Release: Employee development leaders at the US Social Security Administration’s Office of Disability Adjudication and Review, Office of Appellate Operations (ODAR/OAO) in Washington,...
              </p>
            </div>
            <div class="row clearfix pull-right nopadding">
                <a href="#">Read More <img src="/images/arrow-blue.png" alt="" /></a>

            </div>
            <hr>
          </div> <!-- END News Entry  -->

          <div class="news-entry">
            <div class="news-entry-header">

              <div class="row nopadding">
                <div class="col-lg-2 nopadding">
                  <div class="news-date">
                    <span class="month">Aug</span> <br>
                    <span class="day">7</span>
                  </div>

                </div>
                <div class="col-lg-10">
                    <a href="#"><h5>Social Security Administration’s ODAR/OAO Wins Deming Award for 2nd Time</h5></a>
                </div>
              </div>
            </div>
            <div class="row news-excerpt nopadding">
              <p>
                For Immediate Release: Employee development leaders at the US Social Security Administration’s Office of Disability Adjudication and Review, Office of Appellate Operations (ODAR/OAO) in Washington,...
              </p>
            </div>
            <div class="row clearfix pull-right nopadding">
                <a href="#">Read More <img src="/images/arrow-blue.png" alt="" /></a>
            </div>
            <hr>
          </div><!-- END News Entry  -->
          <div class="row clearfix pull-left nopadding">
            <a href="#">View all News &amp; Events</a>
          </div>

        </div>
       </div>
      </div>
    </div><!-- END row  -->
  </div><!-- END container  -->
</div><!-- END container-fluid  -->
