<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1098206310190375";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container-fluid padding0 non-mobile">
  <div class="container-fluid social-media-header padding0">
    <div class="container">
      <div class="row nopadding">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <h2 class="social-title">Don’t miss what’s happening at Graduate School USA</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="social-media-box">
            <ul>
              <li><a href="http://www.facebook.com/GraduateSchoolUSA" target="_blank"><img src="/images/fb.png" alt="" /></a></li>
              <li><a href="http://twitter.com/thegradschool" target="_blank"><img src="/images/tw.png" alt="" /></a></li>
              <li><a href="http://www.youtube.com/user/TheGradSchool" target="_blank"><img src="/images/yt.png" alt="" /></a></li>
              <li><a href="http://www.flickr.com/photos/thegradschool" target="_blank"><img src="/images/gp.png" alt="" /></a></li>
              <li><a href="https://plus.google.com/116727216634414787181/videos" target="_blank"><img src="/images/fl.png" alt="" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- SOCIAL MEDIA FEEDS-->
<div class="container">
  <div id="social-media">
    <div class="spacer"> </div>
    <div class="row nopadding">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h5>Facebook</h5>
          <div class="fb-page" data-href="https://www.facebook.com/GraduateSchoolUSA?fref=ts" data-width="360" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"></div></div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h5>Twitter</h5>
        <div class="">
            <a class="twitter-timeline" href="https://twitter.com/thegradschool" width="99%"  height="400" data-widget-id="652129403497943040">Tweets by @thegradschool</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h5>Youtube</h5>
          <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=TheGradSchool" width="99%" height="400" frameBorder="0"></iframe>
      </div>
    </div>
    <div class="spacer"> </div>
  </div><!-- End of Social Media -->
</div> <!-- END Container -->
</div><!-- END Container-fluid -->
