<% if ( typeof homepage == 'undefined' )  {  %>
  <div class="container-fluid title">
    <div class="container">
      <div class="row clearfix">
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 ">
          <% if (typeof(title) !== 'undefined') { %>
            <h1 id="title"><%= typeof topTitle!='undefined' ? topTitle : title %></h1>
            <p> <img src="../images/homepage.png" alt="" class="home"/> <a href="/" class="breadcrumbs">Home</a> / <%= title %> </p>
          <%  } else {%>
            <h1 id="title">&nbsp;<!--No title defined? Too bad.--></h1>
            <p> <img src="../images/homepage.png" alt="" class="home"/> <a href="/" class="breadcrumbs">Home</a> / <!--No title defined? Too bad.--> </p>
          <%  } %>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 pull-right">
          <div class="util">
            <ul>
              <li><a id="printPage" style="cursor:pointer;"><img src="../images/print.png" alt="" /></a></li>
              <li><a href="#"><img src="../images/email-me.png" alt="" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% } %>
