<div class="user-types">
<div class="container">
  <div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="user-type">
        <img src="/images/01.png" alt="" class="responsive" />
        <h2>Current <br> Students</h2>
        <div><a href="#">Learn More</a></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="user-type">
        <img src="/images/02.png" alt="" class="responsive" />
        <h2>Future <br> Students</h2>
        <div><a href="#">Learn More</a></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="user-type">
        <img src="/images/03.png" alt=""  class="responsive" />
        <h2>Training <br> Officials</h2>
        <div><a href="#">Learn More</a></div>
      </div>
    </div>
  </div><!-- END row  -->
</div><!-- END Container  -->
</div><!-- END User Types  -->
