<div class="container">
  <div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="user-type">
        <img src="/images/01.jpg" alt="" class="responsive" />
        <h2>Current Students</h2>
        <div><a href="#">Learn More</a></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="user-type">
        <img src="/images/02.jpg" alt="" class="responsive" />
        <h2>Future Students</h2>
        <div><a href="#">Learn More</a></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="user-type">
        <img src="/images/03.jpg" alt=""  class="responsive" />
        <h2>Training Officials</h2>
        <div><a href="#">Learn More</a></div>
      </div>
    </div>
  </div><!-- END row  -->
</div><!-- END Container  -->
