<!--  HEADER -->
<div id="header" class="container">
	<div class="row header clearfix">
		<header>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 non-mobile ">
					<a id="gs-logo" href="/"><img alt="Graduate School" src="/images/logo-mobile.png" class="logo"></a>
					<span id="environment-display">
						<% include ../env_indicator %>
					</span>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mobile">
					<a id="gs-logo-mob" href="/">
						<img alt="Graduate School" src="/images/logo-mobile.png" class="logo-mob">
					</a>
					<span id="environment-display-mobile">
						<% include ../env_indicator %>
					</span>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="pull-right">
							<ul>
								<li class="dropdown gs">
									<a id="nav-menu-contact-us-link" aria-expanded="false" href="#" data-toggle="dropdown" class="blueish dropdown-toggle"><img src="/images/contact-gs.png" alt="" class="padding"> Contact <span class="non-mobile">Graduate School</span></a>
										<ul id="nav-menu-contact-us" class="dropdown-menu">
											<li data-placement="left" data-toggle="tooltip" title="Call Graduate School">
												<a id="nav-menu-contact-us-phone" href="tel:+18887444723"><img src="/images/call-us.png" alt=""/>(888) 744-4723</a>
											</li>
											<li data-placement="left" data-toggle="tooltip" title="Fax Graduate School">
												<a id="nav-menu-contact-us-fax" href="#"><img src="/images/fax-us.png" alt=""/>(866) 329-4723</a>
											</li>
											<li data-placement="left" data-toggle="tooltip" title="Email Graduate School or leave feedback">
												<a id="nav-menu-contact-us-email" href="/forms/contact-us"><img src="/images/email-us.png" alt="" />Contact GS</a>
											</li>
											<li data-placement="left" data-toggle="tooltip" title="Chat with Graduate School">
												<a id="nav-menu-contact-us-chat" href="https://livechat.boldchat.com/aid/391752780525725401/bc.chat?resize=true&amp;cbdid=387983771792672006" target="_blank" onclick="window.open((window.pageViewer &amp;&amp; pageViewer.link || function(link){return link;})(this.href + (this.href.indexOf('?')>=0 ? '&amp;' : '?') + 'url=' + escape(document.location.href)), 'Chat391752780525725401', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');return false;"><img src="/images/chat-with-us.png" alt="" />Chat</a>
											</li>
										</ul>
									</li>
								</ul>
						</div>
				</div>
		</header><!-- END header -->
	</div> <!-- END Row -->
</div><!-- END Container -->
<!--  END HEADER -->

<!-- Title Section -->
<% include ../landing/title %>
<!-- END Title Section -->

<!--/nutch_noindex-->
