<div class="col-lg-9">
      <div id="alertError" class="alert alert-danger" role="alert" style="display:none;">
        <span id="removeAlert" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
      </div>
        <div id="contact-information">
          <form>
            <div class="form-inline">
              <div class="form-group"> <p>
                <%= topParagraph %>
              </p></div>
            </div>
            <div class="form-inline">
              <div class="form-group">
                <label for="inputFirstName">*First Name</label>
                <input id="txtFirstName" name="firstName" type="text" class="form-control" required>
                <label for="inputLastName">*Last Name</label>
                <input id="txtLastName" name="lastName" type="text" class="form-control" required>
              </div>
            </div>
            <div class="form-group">
              <label for="communication">*Preferred mode of communication</label>
              <input type="radio" name="radCommunication" id="radioEmail" value="Email" checked/>
              <label for="radioEmail">Email</label>
              <input type="radio" name="radCommunication" id="radioPhone" value="Phone" />

              <label for="radioPhone">Phone</label>
              <div id="emailGroup">
                <label for="inputEmail">Email</label>
                <input id="txtEmail" name="email" type="email" maxlength="255" required class="form-control">
              </div>
              <div id="phoneGroup" style="display:none;">
                <label for="inputPhone">Daytime Phone Number</label>
                <input id="telPhone" name="phone" type="tel" placeholder="XXX-XXX-XXXX" pattern="\d{3}[\-]\d{3}[\-]\d{4}" maxlength="12" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="inputOtherSubject">*Subject</label>
              <select class="form-control" id="selInputSubject" name="inputSubject" required>
                <option id="noSelect" disabled selected>Select One</option>
                <% for (var i=0; i < subjectLine.question.length; i++) { %>
                  <option id="<%= subjectLine.question[i].name %>">
                    <%= subjectLine.question[i]["name"] %>
                  </option>
                  <br/>
                  <% } %>
              </select>
              </span>
              <span id="otherSubject" class="form-group" style="display:none">
                <label for="inputOtherSubject">Other Subject</label>
                <input type="text" id="inputOtherSubject" name="inputOtherSubject" rows="1" cols="40" class="form-control">
            </div>
            <div class="comments">
              <label>*Comments or Question</label>
              <br>
              <textarea id="commentText" name="comments" rows="8" cols="40" class="form-control" required></textarea>
            </div>
            <br>
           <div id="captcha">
              <div class="g-recaptcha" data-sitekey="6Lfj4AsTAAAAAB0NCpQUY3AEeoisB-iNUvzbFsbh"></div>
           </div>
            <br>
            <button type="submit" id="submitForm" name="submitForm" value="submitForm">Submit</button>
            <button type="reset" id="clearForm" name="reset" value="reset">Clear</button>
            <br>
            <br>
          </form>
        </div><!-- END Contact information  -->
      <div id="alertSuccess" class="alert alert-sucess" role="alert" style="display:none;">
        <div><b>Thank you for your interest in Graduate School USA.</b></div>
        <div>Someone will be contacting you as soon as possible.</div>
      </div>

</div>
