<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | <%= title %></title>
    <% include partials/head %>
    <script src="/javascripts/forms.js" type="text/javascript"></script>
</head>
<body>
  <% include partials/header %>
  <!--nutch_noindex-->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h1>Oops, page not found. We're sorry for the inconvenience.</h1>
          <div class="spacer"></div>
            <div class="">
              <h3>Here are some suggestions of what you might be searching for:</h3>
              <img class="search suggestions" src="../../images/search-icon.png" alt="">
              <ul class="see-more">
                <li><a href="#">What’s New at Gratudate School</a></li>
                <li><a href="#">Check out recent News & Events</a> </li>
                <li><a href="#">Search for courses </a></li>
                <li><a href="#">Register for courses </a></li>
                <li><a href="#">Financial Aid</a></li>
                <li><a href="#">Course Catalog</a></li>
                <li><a href="#">Resources </a></li>
                <li><a href="#">Online Bookstore </a></li>
                <li><a href="#">Request for Estimate </a></li>
              </ul>

            </div>
          <div class="spacer"></div>
          <div class="spacer10"></div>
      </div><!-- END left column -->
      <div class="col-lg-4 col-md-4 col-sm-4 non-mobile">
        <div class="pull-right">
            <img src="../images/404.png" alt="" />
        </div>
      </div><!-- END right column -->
    </div><!-- END row -->
  </div><!-- END container -->

  <!--/nutch_noindex-->

  <!-- Footer -->
  <% include partials/footer %>
  <!-- END Footer  -->
  <!-- Chat  -->
  <% include partials/chat %>
  <!-- END of Chat  -->

  </body>
</html>
