<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | <%= title %></title>
    <meta charset="utf-8">
      <% include partials/head %>
    <script type="text/javascript" src="/javascripts/catalogs.js"></script>
    <link rel="stylesheet" href="/stylesheets/generic_detail.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body>
    <% include partials/header %>
    <div id="main-container" class="container">
      <div class="row">
        <% include catalog/catalog_download %>
      </div> <!-- End row -->
    <hr>
      <div class="row">
        <% include catalog/catalog_request_form %>
      </div> <!-- End row  -->
        <!-- /nutch_noindex-->
    </div> <!-- End Container -->
  <!-- Footer -->
  <% include partials/footer %>
  <!-- END Footer  -->
  <!-- Chat  -->
  <% include partials/chat %>
  <!-- END of Chat  -->
  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
  </script>
</body>
</html>
