<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
</head>
<body>
  <span>
  <h1>Course Details for <%= courseId %></h1>
  <div class="container">
    <img src="http://www.claytonmedspa.com/wp-content/uploads/2014/11/comingsoon.png" alt="" />
  </div>
  </span>
</body>
</html>
