<!DOCTYPE html>
<html>
  <head>
    <title>Home Page Demo</title>
    <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/demo-style.css' />
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' /> -->
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' /> -->
  </head>
  <body>
    <header class="global-header" id="home-header">
      <div class="nav-mobile"></div>
      <div class="nav-full">
        <div class="nav-full-top">
          <div class="inner-container">
            <div class="left-navigation">
            </div>
            <div class="right-navigation">
              <nav role="navigation">
                <ul id="top-ul-nav">
                  <li><a href="#">Government</a></li>
                  <li><a href="#">Academic</a></li>
                  <li><a href="#">Weekend</a></li>
                  <li><a href="#">Register</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>

  </body>
</html>
