
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <% include partials/head %>
  </head>
<body>
  <div class="container-fluid">
    <!-- Header  -->
    <div class="nav-top">
      <% include partials/nav_top %>
      //include responsive top bar nav - 4 col design - 3+3+3+3
      <div class="col-lg-3">

      </div>

    </div>
    <!-- END top-nav  -->
    <div class="header">
      <% include partials/header %>
      //include responsive header - 3 col design, 4+5+3

    </div>
    <!-- END header  -->
    <div class="main-nav">
      <% include partials/nav %>
      //include responsive nav full witdth
    </div>
    <!-- END main-nav  -->
    <div class="banner">
      <% include partials/banner %>
      //include responsive baner full width
    </div>
    <!-- END banner  -->
   <!-- END Header  -->
   <!-- Slider  -->
   <div class="slider">
       <% include partials/slider %>
     //include responsive slider full width
   </div>
   <!-- END Slider  -->
   <!-- User Types  -->
   <div class="user-types">
     <% include partials/user_types %>

   </div>
   <!-- END User Types  -->
   <!-- News  -->
   <div class="news">
     <% include partials/news %>
    //include responsive header - 2 col design, 8+4
    <div class="row clearfix">
      <div class="col-lg-8">

      </div>
      <div class="col-lg-4">

      </div>

    </div><!-- END row  -->
   </div>
   <!-- END News -->
   <!-- Social Media  -->
   <div class="social-media">

   </div>
   <!-- END Social Media  -->


  <!-- Include Footer Here! -->
    //include responsive footer - 6 col design, 3+2+2+2+2+1


  <% include partials/footer %>
  </div><!-- END Container-fluid -->

  <% include partials/chat %>
  <!-- END of chat  -->
</body>
</html>
