<!DOCTYPE html>
<html>
<head>
  <title> Graduate School USA |
    <%= title %>
  </title>
  <% include partials/head %>
</head>
<body>

  <!-- Header -->
  <% include partials/header %>
  <!-- END Header -->

  <!-- Slider  -->
  <% include partials/slider %>
  <!-- END Slider  -->

  <!-- News & Events  -->
    <% include partials/news %>
  <!-- END News & Events  -->

  <!-- Footer -->
  <% include partials/footer %>
  <!-- END Footer  -->

  <!-- Chat  -->
  <% include partials/chat %>
  <!-- END of Chat  -->

  <script src="/javascripts/alerts.js" type="text/javascript"></script>

</body>
</html>
