<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
</head>
<body>
  <div id="home-page-container" class="container">
    <nav class="navbar navbar-default navbar-static-top">
      <div style="display: block; float:left; width:70%">
        <img alt="Brand" src="/images/logo.jpg">
        <h1><small>Welcome to The Graduate School</small></h1>
        <input type="text" id="search"  placeholder="Search"><button type="submit" class="btn btn-default">Submit</button>
        <br/>
        <input type="radio" name="searchtype" value="entiresite" checked>  Entire Site
        &nbsp;&nbsp;&nbsp;
        <input type="radio" name="searchtype" value="courses"> Courses
      </div>
      <br/>

      <div class="form-group" style="display: block; float:right; width:30%" >
        <div class="title">Information For:</div>
        <input type="radio" name="clientype" value="student" checked>  Students
        <br>
        <input type="radio" name="clientype" value="trainingofficer">  Training Officers
      </div>
    </nav>
  </div>

  <footer id="home-page-footer" style="height:25%">
    <span>
      <img alt="Brand" src="/images/crest.png">
    </span>
  </footer>
</div>

</body>
</html>
