<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/search.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
</head>
<body>
<div class="container-fluid b_bottom">
  <div class="container">
    <div class="row nm header clearfix">
        <header>
          <div class="row nm">
            <div class="col lg-6 pull-left">
              <img alt="Brand" src="/images/logo.jpg" class="img">
              <!-- <img alt="Brand" src="/images/logo.jpg">  - uncomment for the git-->

                <!-- Current Menu
              <nav class="navbar" style="width:18%;">
                <div style=" background-color:#666666;">
                  <ul>
                    <li><a href="#">Students</a></li>
                    <li><a href="#">Training Officers </a></li>
                  </ul>
                </div>
              </nav>
            -->
            </div>
            <div class="col lg-6 pull-right searchbox">
              <div id="home-search" class="col-lg-6">
                <form action="javascript:performCourseSearch();">
                  <div class="input-group">
                    <input type="text" id="searchCriteria" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> <!-- /end of the first Row  -->

      <!-- Current Menu 
      <div class="row nm">
        <ul>
          <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=35&Itemid=281">About Graduate School</a></li>
          <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=29&Itemid=154">Courses & Programs </a></li>
          <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=31&Itemid=156">Customized Solutions</a></li>
          <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=32&Itemid=160">Certified Programs</a></li>
          <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=33&Itemid=161">Trainig Officials</a></li>
          <li><a href="http://www.graduateschool.edu/de/distance_education.html">Distance Education</a></li>
        </ul>
      </div> -->

      </header>
    </div><!-- /end Row Container -->
   </div><!-- /end Row Header -->

  <div class="row t_officer center b_bottom">
      <div class="container-fluid">
        <img src="/images/01.jpg" alt="" class="img full-width"/>
      </div>
   </div> <!-- /end Row Training officer -->
  <div class="row student center b_bottom">
    <div class="container-fluid">
      <img src="/images/02.jpg" alt="" class="img full-width"/>
    </div>
   </div><!-- /end Row student -->
  <div class="row search b_bottom">
    <div class="container center">
      <img src="/images/03.png" alt="" style="max-height:241px; width:100%; max-width:512px;"/>
    </div>
   </div><!-- /end Row search -->

   <div class="row footer">
   <div class="container">

     <footer class="center">

       <p class="copy"> &copy; 2015 Graduate School USA </p>

       <p class="copy social"> Facebook | Twitter | Youtube | Flicker </p>
      <!--
      <span class="social">
       <a href="http://www.facebook.com/GraduateSchoolUSA" target="_blank"><img title="Facebook" src="/images/facebook.ico" alt="Facebook" width="35" height="35" /></a>
       <a href="http://twitter.com/thegradschool" target="_blank"><img title="Twitter" src="/images/twitter.ico" alt="Twitter" width="35" height="35" /></a>
       <a href="http://www.youtube.com/user/TheGradSchool" target="_blank"><img title="YouTube" src="/images/youtube.ico" alt="Pinterest" width="35" height="35" /></a>
       <a href="http://www.flickr.com/photos/thegradschool" target="_blank"><img title="Flickr" src="/images/flickr.ico" alt="RSS" width="35" height="35" /></a></div>
     </span> -->
     </footer>
 </div>
  </div> <!-- /end Container-fluid -->
</div>
</body>
</html>
