<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
</head>
<body>
  <div id="home-page-container" class="container">
<<<<<<< HEAD
    <div class="form-group">
      <input type="text" id="search"  placeholder="Search"><button type="submit" class="btn btn-default">Submit</button>
    </div>
    <footer id="home-page-footer">
      <p>
        This is the footer!
      </p>
    </footer>
  </div>
=======
    <nav class="navbar navbar-default navbar-static-top">
      <h1><small>Welcome to The Graduate School</small></h1>
      <input type="text" id="search"  placeholder="Search"><button type="submit" class="btn btn-default">Submit</button>
      <p><a class="btn btn-primary btn-sm" href="#" role="button">About Us</a></p>
    </nav>
  <div class="form-group">
  </div>

  <footer id="home-page-footer">
    <p>
      This is the footer!
    </p>
  </footer>
</div>
>>>>>>> 2953dce4571a75a53d13bea660ed2116ee862c2e
</body>
</html>
