<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <% include partials/head %>
</head>
<body>

  <% include partials/header %>

  <!-- /end Header include -->
  <% include partials/banner %>
  <div class="container">
      <img src="images/slider.png" alt="" class="responsive" />
  </div>

  <!-- User Types  -->
    <% include partials/user_types %>
  <!-- END User Types  -->

  <!-- Footer -->
  <% include partials/footer %>
  <!-- END Footer  -->

  <!-- Chat  -->
  <% include partials/chat %>
  <!-- END of Chat  -->

  <script type="text/javascript">
  $(document).on('click', '.gs .dropdown-menu', function(e) {
    e.stopPropagation()
  })
  </script>
</body>
</html>
