<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% include partials/head %>
  <script type="text/javascript" src="/javascripts/search.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/menu.css' />
</head>

<body>
  <div class="container-fluid b_bottom">
    <div class="container">
      <div class="row nm header clearfix">
        <% include partials/header %>
      </div>
    <!-- /end Row Container -->
  </div>
  <!-- /end Row Header -->

  <div class="row t_officer center b_bottom">
    <div class="container-fluid">
      <img src="/images/01.jpg" alt="" class="img full-width" />
    </div>
  </div>
  <!-- /end Row Training officer -->

  <div class="row student center b_bottom">
    <div class="container-fluid">
      <img src="/images/02.jpg" alt="" class="img full-width" />
    </div>
  </div>
  <!-- /end Row Student -->

  <div class="row search b_bottom">
    <div class="container center">
      <img src="/images/03.png" alt="" style="max-height:241px; width:100%; max-width:512px;" />
    </div>
  </div>
  <!-- /end Row search -->
  <!-- Include Footer Here! -->
  <% include partials/footer %>
  <!-- /end Container-fluid -->
  </div>
  <% include partials/chat %>
  <!-- /end of the chat  -->

  <script type="text/javascript">
    $(document).on('click', '.gs .dropdown-menu', function(e) {
      e.stopPropagation()
    })
  </script>
</body>

</html>
