<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <% include partials/head %>
</head>
<body>
  <!-- Header -->
  <% include partials/header %>
  <!-- END Header -->

  <!-- Banner  -->
  <% include partials/banner %>
  <!-- END Banner  -->

  <!-- Slider  -->
  <% include partials/slider %>
  <!-- END Slider  -->

  <!-- User Types  -->
    <% include partials/user_types %>
  <!-- END User Types  -->

  <!-- News & Events  -->
    <% include partials/news %>
  <!-- END News & Events  -->

  <!-- Footer -->
  <% include partials/footer %>
  <!-- END Footer  -->

  <!-- Chat  -->
  <% include partials/chat %>
  <!-- END of Chat  -->

</body>
</html>
