<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
      <% include partials/head %>
  </head>
<body>
  <!--  Header include -->
    <% include partials/nav_top %>

      <div class="container">
        <div class="row header clearfix">
          <% include partials/header %>
        </div> <!-- /end Row Container -->
      </div>
      <div class="container">
        <div class="row  clearfix">
          <% include partials/nav %>
        </div> <!-- /end Row Container -->
      </div>
  <!-- /end Header include -->

  <!-- User Types  -->
  <div class="user-types">
    <% include partials/user_types %>

  </div>
  <!-- END User Types  -->


  <!-- Include Footer Here! -->
    <% include partials/footer %>

  <% include partials/chat %>
  <!-- END of chat  -->

  <script type="text/javascript">
    $(document).on('click', '.gs .dropdown-menu', function(e) {
      e.stopPropagation()
    })
  </script>
</body>

</html>
