<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
</head>
<body>
  <div id="home-page-container" class="container">
    <nav class="navbar navbar-default navbar-static-top">
      <img alt="Brand" src="/images/logo.jpg">
      <div style="display: block; float:left-center; width:100%; background-color:#1E90FF;">
      <br/>
        <ul>
          <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=35&Itemid=281">About Graduate School</a></li>
          <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=29&Itemid=154">Courses & Programs </a></li>
          <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=31&Itemid=156">Customized Solutions</a></li>
          <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=32&Itemid=160">Certified Programs</a></li>
          <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=33&Itemid=161">Trainig Officials</a></li>
          <li><a href="http://www.graduateschool.edu/de/distance_education.html">Distance Education</a></li>
        </ul>
      </div>
      <div style="display: block; float:left; width:70%">
        <br/>
          <input type="text" id="search"  placeholder="Search"><button type="submit" class="btn btn-default">Submit</button>
          <br/>
          <input type="radio" name="searchtype" value="entiresite" checked>  Entire Site
          &nbsp;&nbsp;&nbsp;
          <input type="radio" name="searchtype" value="courses"> Courses
      </div>
      <br/>

      <div class="form-group" style="display: block; float:right; width:30%" >
        <div class="title">Information For:</div>
        <input type="radio" name="clientype" value="student" checked>  Students
        <br>
        <input type="radio" name="clientype" value="trainingofficer">  Training Officers
      </div>
    </nav>
  </div>

  <footer id="home-page-footer" style="height:25%">
    <span style="width:50%; float:left;">
      <div>
        <a href="http://www.facebook.com/GraduateSchoolUSA" target="_blank"><img title="Facebook" src="/images/facebook.ico" alt="Facebook" width="35" height="35" /></a>
        <a href="http://twitter.com/thegradschool" target="_blank"><img title="Twitter" src="/images/twitter.ico" alt="Twitter" width="35" height="35" /></a>
        <a href="http://www.youtube.com/user/TheGradSchool" target="_blank"><img title="YouTube" src="/images/youtube.ico" alt="Pinterest" width="35" height="35" /></a>
        <a href="http://www.flickr.com/photos/thegradschool" target="_blank"><img title="Flickr" src="/images/flickr.ico" alt="RSS" width="35" height="35" /></a></div>
      </span>
      <span style="width:50%; float:right;">
        <img alt="Brand" src="/images/crest.png">
      </span>
    </footer>
  </div>
</body>
</html>
