<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% include partials/head %>
  <script type="text/javascript" src="/javascripts/search.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/menu.css' />
</head>

<body>
  <div class="container-fluid b_bottom">
    <div class="container">
      <div class="row nm header clearfix">
        <header>
          <div class="row nm clearfix">
            <div class="col-lg-8 col-md-6 col-sm-12 pull-left">
              <a href="/" class="homepage">
                <img alt="Graduate School" src="/images/logo.jpg" class="img logo">
              </a>
            </div>
            <div class="col-lg-4 col-md-6  col-sm-12">
              <div id="home-search" class="col-lg-4 col-md-6 col-sm-12 col-xs-4 p20">
                <form id="search-form" action="javascript:performCourseSearch();">
                  <div class="input-group">
                    <input type="text" id="searchCriteria" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button id="course-search-button" class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      </button>
                    </span>
                  </div>
                </form>
                <div id="searchWarn" class="alert alert-warning" role="alert">You must have at least 3 characters.</div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-xs-4 p20">
                <a href="#" class="homepage" target="_blank">
                  <img alt="Register" src="/images/register.png" class="" style="width:110px;">
                </a>
              </div>
            </div>
          </div>
      </div>
      <!-- /end of the first Row  -->


      <div class="row">
        <div class="navbar navbar-default gs">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Homepage</a>
          </div>
          <div id="navbar-collapse-grid" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown gs-fw"><a href="/whats-new" class="">What's New</a></li>

              <!-- Grid 12 Menu -->
              <li class="dropdown gs-fw"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle">About Us <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="grid-demo">
                    <div class="row">
                      <div class="col-sm-4">
                        <h4>About us</h4>
                        <ul>
                          <li>
                            <a href="#"></a>Mission Statement & Goals</a>
                          </li>
                          <li>
                            <a href="#"></a>Key Officials</a>
                          </li>
                          <li>
                            <a href="#"></a>Board Members</a>
                          </li>
                          <li>
                            <a href="#"></a>Our Customers</a>
                          </li>
                          <li>
                            <a href="#"></a>Accreditation and Approvals</a>
                          </li>
                          <li>
                            <a href="#"></a>Our Offices</a>
                          </li>
                          <li>
                            <a href="#"></a>Southeastern University Legacy</a>
                          </li>
                          <li>
                            <a href="#"></a>Contact Us</a>
                          </li>
                          <li>
                            <a href="#"></a>General Policies</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-4">
                        <h4>News Center</h4>
                        <ul>
                          <li>
                            <a href="#"></a>Announcements</a>
                          </li>
                          <li>
                            <a href="#"></a>Press Releases</a>
                          </li>
                          <li>
                            <a href="#"></a>Archived Press Releases</a>
                          </li>
                          <li>
                            <a href="#"></a>Deming Award</a>
                          </li>
                          <li>
                            <a href="#"></a>Upcoming Events</a>
                          </li>
                          <li>
                            <a href="#"></a>Resource Center</a>
                          </li>

                        </ul>
                      </div>
                      <div class="col-sm-4">
                        <h4>Careers</h4>
                        <ul>
                          <li>
                            <a href="#"></a>Instructor and other Related Openings</a>
                          </li>
                          <li>
                            <a href="#"></a>Instructor and Consultant/SME Opportunities</a>
                          </li>
                          <li>
                            <a href="#"></a>Job Openings</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>

              <!-- Grid 12 Menu -->
              <li class="dropdown gs-fw"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle">Menu item 2<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="grid-demo">

                    <div class="row">
                      <div class="col-sm-4">
                        <h4>Menu section name</h4>
                        <ul>
                          <li>
                            <a href="#"></a>Menu item 1</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 2</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 3</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 4</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 5</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 6</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 7</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 8</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-4">
                        <h4>Menu section name</h4>
                        <ul>
                          <li>
                            <a href="#"></a>Menu item 1</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 2</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 3</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 4</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 5</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 6</a>
                          </li>

                        </ul>
                      </div>
                      <div class="col-sm-4">
                        <h4>Menu section name</h4>
                        <ul>
                          <li>
                            <a href="#"></a>Menu item 1</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 2</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 3</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 4</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 5</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 6</a>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>

              <!-- Grid 12 Menu -->
              <li class="dropdown gs-fw"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle">Menu item 3<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="grid-demo">

                    <div class="row">
                      <div class="col-sm-3">
                        <h4>Menu section name</h4>
                        <ul>
                          <li>
                            <a href="#"></a>Menu item 1</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 2</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 3</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 4</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 5</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 6</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 7</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 8</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-3">
                        <h4>Menu section name</h4>
                        <ul>
                          <li>
                            <a href="#"></a>Menu item 1</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 2</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 3</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 4</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 5</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 6</a>
                          </li>

                        </ul>
                      </div>
                      <div class="col-sm-3">
                        <h4>Menu section name</h4>
                        <ul>
                          <li>
                            <a href="#"></a>Menu item 1</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 2</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 3</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 4</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 5</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 6</a>
                          </li>

                        </ul>
                      </div>
                      <div class="col-sm-3">
                        <h4>Menu section name</h4>
                        <ul>
                          <li>
                            <a href="#"></a>Menu item 1</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 2</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 3</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 4</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 5</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 6</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 7</a>
                          </li>
                          <li>
                            <a href="#"></a>Menu item 8</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>

                </ul>
              </li>

              <!-- Grid 12 Menu -->
              <li class="dropdown gs-fw"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle">Training Officials<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="grid-demo">
                    <div class="row">
                      <div class="col-sm-3">
                        <h4>Registration Information</h4>
                        <ul>
                          <li>
                            <a href="#"></a>Request a quote</a>
                          </li>
                          <li>
                            <a href="#"></a>Register one participant</a>
                          </li>
                          <li>
                            <a href="#"></a>Multiple Registrations</a>
                          </li>
                          <li>
                            <a href="#"></a>Contact Us</a>
                          </li>
                          <li>
                            <a href="#"></a>Policies</a>
                          </li>
                          <li>
                            <a href="#"></a>Online Forms</a>
                          </li>
                          <li>
                            <a href="#"></a>GSA Contracts</a>
                          </li>
                          <li>
                            <a href="#"></a>Training accessibility</a>
                          </li>
                          <li>
                            <a href="#"></a>Deming Award</a>
                          </li>
                          <li>
                            <a href="#"></a>FAQ</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-3">
                      <h4>  Courses and Programs</h4>
                        <ul>
                          <li>
                            <a href="#"></a>Academic Programs (credit)</a>
                          </li>
                          <li>
                            <a href="#"></a>Course Selection Guide</a>
                          </li>
                          <li>
                            <a href="#"></a>Subject Areas</a>
                          </li>
                          <li>
                            <a href="#"></a>Daytime Course</a>
                          </li>
                          <li>
                            <a href="#"></a>Distance Education</a>
                          </li>
                          <li>
                            <a href="#"></a>Evening and Weekend (DC area only)</a>
                          </li>

                          <li>
                            <a href="#"></a>Govt Training and Professional Development</a>
                          </li>
                          <li>
                            <a href="#"></a>Information Technology Course </a>
                          </li>
                          <li>
                            <a href="#"></a>Govt Audit Training Institute</a>
                          </li>
                          <li>
                            <a href="#"></a>Leadership Development Programs</a>
                          </li>
                          <li>
                            <a href="#"></a>International Institute </a>
                          </li>
                          <li>
                            <a href="#"></a>Participant Information</a>
                          </li>

                        </ul>
                      </div>
                      <div class="col-sm-3">
                        <h4>  Customized Solutions</h4>
                        <ul>
                          <li>
                            <a href="#"></a>Training at your location</a>
                          </li>
                          <li>
                            <a href="#"></a>Assessment Tools</a>
                          </li>
                          <li>
                            <a href="#"></a>Course Design & Development</a>
                          </li>
                          <li>
                            <a href="#"></a>Career Transition and Training Center Management</a>
                          </li>
                       </ul>
                      </div>
                      <div class="col-sm-3">
                        <h4>Search</h4>
                        <ul>
                          <li>
                            <a href="#"></a>Training Locations and Hotels</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>

                </ul>
              </li>

              <!-- Classic dropdown -->
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Classic dropdown<b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                  <li><a tabindex="-1" href="#"> Action </a></li>
                  <li><a tabindex="-1" href="#"> Another action </a></li>
                  <li><a tabindex="-1" href="#"> Something else here </a></li>
                  <li class="divider"></li>
                  <li><a tabindex="-1" href="#"> Separated link </a></li>
                </ul>
              </li>

            </ul>
          </div>
        </div>

      </div>
      <!-- / end of row -->



      <!-- Current Menu
        <div class="row nm">
        <ul>
        <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=35&Itemid=281">About Graduate School</a></li>
        <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=29&Itemid=154">Courses & Programs </a></li>
        <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=31&Itemid=156">Customized Solutions</a></li>
        <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=32&Itemid=160">Certified Programs</a></li>
        <li><a href="http://graduateschool.edu/index.php?option=com_content&task=view&id=33&Itemid=161">Trainig Officials</a></li>
        <li><a href="http://www.graduateschool.edu/de/distance_education.html">Distance Education</a></li>
      </ul>
    </div> -->

      </header>
    </div>
    <!-- /end Row Container -->
  </div>
  <!-- /end Row Header -->

  <div class="row t_officer center b_bottom">
    <div class="container-fluid">
      <img src="/images/01.jpg" alt="" class="img full-width" />
    </div>
  </div>
  <!-- /end Row Training officer -->

  <div class="row student center b_bottom">
    <div class="container-fluid">
      <img src="/images/02.jpg" alt="" class="img full-width" />
    </div>
  </div>
  <!-- /end Row Student -->

  <div class="row search b_bottom">
    <div class="container center">
      <img src="/images/03.png" alt="" style="max-height:241px; width:100%; max-width:512px;" />
    </div>
  </div>
  <!-- /end Row search -->
  <!-- Include Footer Here! -->
  <% include partials/footer %>
  <!-- /end Container-fluid -->
  </div>
  <% include partials/chat %>
  <!-- /end of the chat  -->

  <script type="text/javascript">
    $(document).on('click', '.gs .dropdown-menu', function(e) {
      e.stopPropagation()
    })
  </script>
</body>

</html>
