/* Table styles */

table.cart, table.cart th, table.cart tr, table.cart td {
  border: none !important;
  color: #545454;
  font-size: 14px;
}

table.cart {
  border: 1px solid #CCD8E3 !important;
}

table.cart th, .header-mobile {
  background: #82838B; /* Old browsers */
  background-image: linear-gradient(to bottom, #A0A0A8 0px, #82838B 100%) !important;
  border-radius: 0px !important;
  color: #FFF;
  padding: 15px !important;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

table.cart tr {
  background-color: #FDFDFD;
  border-bottom: 1px solid #CCD8E3 !important;
}

table.cart tr:nth-child(even) {
   background-color: #FFFFFF;
}

table.cart td {
  text-align: center;
  padding: 12px !important;
  vertical-align: middle !important;
}

.cart > tbody > tr > td {
  vertical-align: middle !important;
  text-align: center !important;
}

#cart p.bill-title {
  font-size: 18px !important;
  font-weight: 500 !important;
  color: #333333 !important;
}

#cart span.registration-disclaimer {
  color: #D9124E !important;
  font-size: 14px;
}

#bill-to-info, #payment-info {
  border: 2px solid #DDDDDD;
  padding: 15px !important;
}

#cart h2 {
  color: #444444 !important;
  font-weight: 400 !important;
  font-size: 22px;
}

#bill-to-info p, #payment-info p {
    padding: 2px 0 !important;
}

.content-offset {
  padding: 0px 30px !important;
}

#cart button {
  margin-left: 15px;
}

span.payment-type {
  padding-right: 10%;
  font-weight: 500;
}

.cart-legend-text {
  margin-left:5px;
  margin-right:15px;
}

#cart-course-details-table {
  border:none; !important;
  text-align:left;
  background-color: #CCD8E3;
}

.cart-course-details-table-row {
  border: none; !important;
  text-align:left;
}

table.cart-mobile, table.cart-mobile tr, table.cart-mobile td, table.cart-mobile th  {
  border: 1px solid #EEE !important;
}

table.cart-mobile tr {
  border-bottom: 1px solid #EEE !important;
}

th.cart-mobile {
  text-transform: uppercase;
  color: #555;
  padding: 15px 3% !important;
}

td.cart-mobile {
  text-align: left;
}

#cart-mobile button {
  margin-left: 15px;
  padding: 7px 15px;
  font-size: 16px !important;
}

a#toggle-already-have-account:hover img, a#toggle-create-account-image:hover img {
  opacity: 0.7;
}

#login-links {
  display: block;
}

#toggle-already-have-account, #toggle-create-account-image {
  display: inline-block;
  padding: 10px 0 30px 0;
}


h2.login-title {
  font-size: 25px !important;
  font-weight: 400;
  text-align: center;
  padding: 20px;
  color: #444444;
  margin-top: 0;
}

#create-user .form-inline .form-group {
  text-align: left;
}

#login-form .form-inline .form-group, #pwChange .form-inline .form-group {
  margin: 0 !important;
  text-align: left;
}

#forgot-password {
  width: 280px !important;
  text-align: right;
  margin-top: -10px;
}

#forgot-password a {
  font-size: 14px;
  color: #878787;
  text-decoration: underline;
  font-weight: 400;

}

#forgot-password a:hover {
  color: #000;
  text-decoration: underline;
}

hr.form-divider {
  width: 100%;
  max-width: 700px;
  position: relative;
  left: -20px;
  background-color: #D7E1EA;
  height: 2px;
  border-top: none;
  margin: 20px auto;
}

hr.login-divider {
  width: 100%;
  max-width: 600px;
  background-color: #D7E1EA;
  height: 2px;
  border-top: none;
}

#login-submit {
  padding-left: 50px;
  padding-right: 50px;
}

a#toggle-create-account {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

a#toggle-create-account:hover {
  color: #000;
  text-decoration: underline;
}

#create-user {
  left: 20px !important;
  position: relative;
}


#field-fixer {
  width: 290px !important;
}

#button-fixer {
  width: 600px;
  margin: 0 auto;
  left: -20px;
  position: relative;
}

.ui-datepicker-month, .ui-datepicker-year {
  font-size: 12px !important;
  font-weight: 200;
}

.legend-item {
  padding: 5px 20px;
  color: #777;
  font-size: 14px;
}

.legend-item img {
  padding-right: 10px;
}

.limiter {
  max-width: 150px;
}

/* Table MyRegistration styles */

table.myReg, table.myReg th, table.myReg tr, table.myReg td {
  border: none !important;
  color: #545454;
  font-size: 14px;
}

table.myReg {
  border: 1px solid #CCD8E3 !important;
}

.table > thead > tr > th {
    vertical-align: middle;
}

table.myReg th, .header-mobile {
  background: #82838B; /* Old browsers */
  background-image: linear-gradient(to bottom, #A0A0A8 0px, #82838B 100%) !important;
  border-radius: 0px !important;
  color: #FFF;
  padding: 15px !important;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

table.myReg tr {
  background-color: #FDFDFD;
  border-bottom: 1px solid #CCD8E3 !important;
}

table.myReg tr:nth-child(even) {
   background-color: #FFFFFF;
}

table.myReg td {
  text-align: center;
  padding: 12px !important;
  vertical-align: middle !important;
}

.myReg > tbody > tr > td {
  vertical-align: middle !important;
  text-align: center !important;
}

button.register, button.register:visited {
    color: #FFF;
    background-color: #67C067;
    padding: 5px 15px;
    box-shadow: none;
    border: none;
    border-radius: 2px;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

button.register:hover {
  color: #FFF;
  background-color: #008C23;
  padding: 5px 15px;
  box-shadow: none;
  border: none;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.glyphicon {
    top: 0px;
}

/* TableSorter */

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	border: 1px solid #FFF;

}

table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif) !important;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	vertical-align: top;
}

table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif) !important;
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif) !important;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #696B74 !important;
}
