
/*==========  Course Detail Styles  ==========*/

@media print {
  body {
    width: 100% !important;
    margin-right: 50px !important;
  }

  .tab-content > .tab-pane {
    display: block !important;
    opacity: 1 !important;
  }

  .related-links, ul.nav-tabs {
    display: none;
    visibility: hidden;
  }

  #course-information, #sidebar, .table-responsive {
    width: 95%;
  }

  .container {
    width: auto !important;
  }

  #courseContent {
    width: auto !important;
  }


}


#map-canvas{
  height: 300px;
  width: 100%;
  margin: 0 auto;
}


ul {padding-left: 10px;}

.course_related_information nav ul li {list-style: none; padding: 5px;}

.course_related_information {
 border: 1px solid #EEE;
 padding: 10px;
}

/* Course Detail left panel */
table.details, table.details th, table.details tr, table.details td {
  border: none !important;
  color: #555555;
  font-size: 15px;
}

table.details tr {
  border-bottom: 1px solid #EEE !important;
}

table.details th {
  width: 27%;
}

table.details td {
  width: 73%;
  padding: 5px !important;
}

#list-of-sessions .panel > .panel-heading.course-detail {
    background-image: none !important;
    border-radius: 0 !important;
    background: #82838B; /* Old browsers */
    background-image: linear-gradient(to bottom, #A0A0A8 0px, #82838B 100%) !important;
}

#list-of-sessions .panel .course-detail h4.panel-title {
  color: #FFF !important;
}

.panel > .panel-heading.course-detail {
    background-image: none !important;
    border-radius: 0 !important;
    background: #F2F2F2; /* Old browsers */
    background-image: linear-gradient(to bottom, #F2F2F2 0px, #FFF 100%) !important;
}

.panel > .panel-heading.related-links {
    background: #F2F2F2; /* Old browsers */
    background-image: linear-gradient(to bottom, #F2F2F2 0px, #FFF 100%) !important;
    border-radius: 0 !important;
}

.panel .related-links h4.panel-title {
    color: #444 !important;
}

.panel .course-detail h4.panel-title {
    color: #444 !important;
    font-size: 18px;
    font-weight: 400 !important;
    padding: 5px 0px;
}

.panel-heading.course-detail a {
    color: #FFF !important;
    font-weight: 400 !important;
}


/* Course Detail Sessions Schedule table */

table.session-schedule, table.session-schedule th, table.session-schedule tr, table.session-schedule td {
  border: none !important;
  color: #545454;
  font-size: 14px;
}
table.session-schedule {
  border: 1px solid #CCD8E3 !important;
}

table.session-schedule th {
  background: #82838B; /* Old browsers */
  background-image: linear-gradient(to bottom, #A0A0A8 0px, #82838B 100%) !important;
  border-radius: 0px !important;
  color: #FFF;
  padding: 15px !important;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

table.session-schedule tr {
  background-color: #FDFDFD;
  border-bottom: 1px solid #CCD8E3 !important;
}

table.session-schedule tr:nth-child(even) {
   background-color: #FFFFFF;
 }


table.session-schedule td {
  text-align: center;
  padding: 12px !important;
  vertical-align: middle !important;
}

td.g2gData {
  margin: 0 auto;
  text-align: center !important;
}

td.statusData {
  margin: 0 auto;
  text-align: center !important;
}


/* Tabs section */

.tabs {
    background-image: none !important;
    background-color: #427EB4 !important;
    border: medium none;
    border-radius: 2px;
    margin: 0px;
    box-shadow: none;
}

#course-information .nav {

}

#course-information .nav-tabs {
  border: none;
}

#course-information .nav-tabs > li {

}

#course-information .nav > li {
    position: relative;
    display: block;
}

#course-information .nav-tabs > li > a {
  font-size: 15px;
  padding: 15px;
  border: solid 1px transparent;
  color: #444444;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

#course-information .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #444444;
  cursor: default;
  background-image: linear-gradient(to bottom, #F2F2F2 0px, #FFF 100%);
  border-top: solid 1px #DDD;
  border-bottom: solid 1px #FFF;
  border-left:solid 1px #DDD;
  border-right:solid 1px #DDD;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

#course-information .nav-tabs > li > a:hover {
  color: #444444;
  border-top: solid 1px #DDD;
  border-bottom: solid 1px #FFF;
  border-left:solid 1px #DDD;
  border-right:solid 1px #DDD;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

#course-information .nav-tabs > li > a {
  border-radius:  0;
}

#course-information .nav > li > a {
  position: relative;
  display: block;
}

#course-information .nav > li > a.disabled, #course-information .nav > li > a.disabled:hover {
  color: #AAA !important;
  background: transparent !important;
  border: none !important;
  pointer-events: none;
  cursor: default;
}
#course-information .nav-tabs > li > a > img, #mob-course-information .nav-tabs > li > a > img {
  padding: 0 5px 0 5px;
  margin-top: -5px;
}

#course-information-content {
  padding: 20px;
  border: 1px solid #DDDDDD;
}

h4.panel-title {
    color: #444;
}

h4.panel-title > img {
  margin: -3px 10px 0 0;

}

.mob-course-information {

}


button.register, button.register:visited {
  color: #FFF;
  background-color: #67C067;
  padding: 5px 15px;
  box-shadow: none;
  border: none;
  border-radius: 2px;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

button.register:hover {
  color: #FFF;
  background-color: #008C23;
  padding: 5px 15px;
  box-shadow: none;
  border: none;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

button.register-mob:hover {
  color: #FFF;
  background-color: #008C23;
  box-shadow: none;
  border: none;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

/* Legend */

span.legend-title {
    padding: 5px;
    font-size: 13px;
}

.legend {
color: #888 !important;
}

.legend ul {
  display: inline-block;
  padding: 5px 0;
}

.legend ul li {
    display: inline-block;
    padding-left: 10px;
    font-size: 13px;
}

.legend ul li span {
  margin: 0 8px 0 5px;
}


.legend-mobile {
color: #888 !important;
}

.legend-mobile ul {
  display: inline-block;
  padding: 5px 0;
}

.legend-mobile ul li {
    display: inline-block;
    padding: 5px 0 0 10px;
    font-size: 13px;
}

.legend-mobile ul li span {
  margin: 0 8px 0 5px;
}

/* Session Schedule Mobile */

.session-schedule-mob {
  padding: 0;
  margin: 0;
  border: none !important;
}

table.session-schedule-mob, table.session-schedule-mob tr, table.session-schedule-mob td, table.session-schedule-mob th  {
border: none !important;
}


table.session-schedule-mob tr {
  border-bottom: 1px solid #EEE !important;
}

th.mob-header {
  text-transform: uppercase;
}

td.statusData-mob {
  text-align: left;
}

table.session-schedule-mob th {
  padding:  12px 10px !important;
}

h4.session-schedule-mob {
  color: #333;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 1.4;
}


.table-nav {
  padding-top: 5px;
}

a#showLess, a#loadMore, a#mob-showAll, a#mob-showLess {
 padding-left: 10px;
}

div.register-button {
  padding: 20px 10px !important;
  float:right;
  clear: both;
}

button.register-mob, button.register-mob:visited {
    color: #FFF;
    background-color: #67C067;
    padding: 7px 15px;
    box-shadow: none;
    border: medium none;
    border-radius: 2px;
    transition: background-color 300ms linear 0s;
    font-size: 16px !important;
}

.single-session {
  border-radius: 0 !important;
  margin: 0 !important;
}

.panel-heading .accordion-toggle.sessionExpand::after {
    color: #999;
}

hr.course-session {
   border: 0;
   height: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   width: 90%;
   left: 0;
   text-align: left;
   margin: 5px 0;
}

.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #FFF;
    margin-top: -35px !important;
}

table.session-schedule td.show-more, .show-more {
  background-color: #FFF !important;
  color: #333;
  padding: 20px !important;
}

.show-more {
  display: relative;
  text-align: center;
  margin: 0px auto;
}


span.display-of-sessions {
  padding: 5px 20px;
  display: inline-block;
  color: #555;
}


.panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #FFF 0px, #EFEFEF 100%) !important;
    background-repeat: repeat-x;
}

#map-address {
  padding: 10px 0px;
}
