
/*==========  Course Search Styles  ==========*/

.course-id {
  margin: 10px 0;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
}

.checkbox-clear, .checkbox-clear a {
  background-color: transparent !important;
  float:right;
  clear: both;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal !important;
  color: #DB0F4E !important;
}

.checkbox-clear:hover, .checkbox-clear a:hover {
  color: #002F5F !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}



.form-control:focus{
	border-color:#87ACCE;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgba(102,175,233,.6) !important;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgba(102,175,233,.6)!important;
}

#refine-results p {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

p.clear {
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  color: #FFF;
  padding: 0 !important;
}

p.clear > span {
  font-size: 15px;
  padding: 0px;
}

div.refine p {
color: #FFF !important;
}

.panel .gs {
  margin-bottom: 0;
  background-color: #FFF;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.panel > .panel-heading.gs {
    background-image: none !important;
    background: #427EB4 !important; /* Old browsers */
    background: -moz-linear-gradient(left,  #427EB4 0%,  #427EB4 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#427EB4), color-stop(80%,#427EB4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #427EB4 0%,#427EB4 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #427EB4 0%, #427EB4 80%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#427EB4', endColorstr='#427EB4',GradientType=1 ); /* IE6-9 */

}
 .panel-heading.gs a {
    color: #FFF !important;
    font-weight: 400 !important;
}

.panel-heading.gs h4 {
  color: #FFF !important;
  font-weight: 400 !important;
  margin: 10px 0px !important;
}

.panel .gs h4.panel-title {
  color: #FFF !important;
  font-size: 18px;
  font-weight: 400 !important;
  padding: 0;
}
.panel .gs a, .panel .gs a:link, .panel .gs a:visited  {
  color: #FFF !important;
  background-color: transparent !important;
}

.panel .gs a:hover, div.refine p:hover {
  background-color: transparent !important;
  color: #000 !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#course-result h3 a, #course-result h3 a:visited, #site-result h3 a, #site-result h3 a:visited {
  background-color: transparent !important;
  font-weight: bold;
}

#course-result {
margin: 20px 0;
}

#course-result h3 a:hover, #site-result h3 a:hover  {
  background-color: transparent !important;
  color: #01356B;
  font-weight: bold;
  text-decoration: underline;
}

#refine-results select, #pagination select, #number-of-items select {
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  background: #FFF url('../images/arrow-down.png') 95% / 20px no-repeat;
}

#refine-results select::-ms-expand, #number-of-items select::-ms-expand, #pagination select::-ms-expand { /* for IE 11 */
    display: none;
}

#refine-results select,  #refine-results input[type="checkbox"], #pagination select, #number-of-items select {
  border: 2px solid #87ACCE;
  border-radius: 0;
}

#refine-results select {
  padding: 5px 35px 5px 10px;
}

#number-of-items select, #pagination select {
  width: auto;
  padding: 5px 20px 5px 5px;
  display: inline-block;
}

#refine-results input[type="checkbox"] {
  border: 2px solid #87ACCE;
  border-radius: 0;
  padding: 5px;
  width: 20px;
  height: 20px;
}

#pagination {
  padding-top: 2px;
}

#pagination nav {
  float:right;
  clear: both;
}

#pagination nav .pagination {
    display: inline-block;
    padding-left: 0px;
    margin: 0px !important;
    border-radius: 0 !important;
}

#number-of-items.top {
  text-align: right;
  padding: 15px 15px 0 0;
}
#number-of-items.top > .form-group {
  margin-bottom: 10px !important;
}

#number-of-items.bottom {
  text-align: left;
  padding: 0;
}


.control-label {
  padding: 5px 5px 0 0 !important;
  margin-left: 0;
  margin-right: 0;
  font-weight: 400;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 4px 8px;
    margin-left: 4px !important;
    line-height: 1.42857;
    color: #063D72 !important;
    text-decoration: none;
    background-color: #FFF;
    border: 2px solid #87ACCE !important;
    border-radius: 0;
    font-size: 13px !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: #FFF !important;
    cursor: default;
    background-color: #337AB7;
    border-color: #337AB7 !important;
}

#results-for-alert {
  text-decoration: underline;
}

.tabs {
  background-image: none !important;
  background-color: #FFF !important;
  margin-bottom: 0px;
  border: none;
  border-radius: 2px;
  margin: 0;
  box-shadow: none !important;
}

.row .results-header {
  padding: 20px 15px 0 15px;
}

.row .results-footer {
  padding: 20px 0 0 0;
}

#searchResults .nav {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: outside none none;
    height: 60px;
    bottom: -1px;
    position: relative;
}

#searchResults .nav-tabs {
    border-bottom: none;
}

#searchResults .nav-tabs > li {
    float: left;
}

#searchResults .nav > li {
    position: relative;
    display: block;
}

#searchResults .nav-tabs > li > a {
  font-size: 15px;
  padding: 15px;
  border: solid 1px transparent;
  color: #444444;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}


#searchResults .nav-tabs > li.active > a,.nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #444444;
  cursor: default;
  background-image: linear-gradient(to bottom, #F2F2F2 0px, #FFF 100%);
  border-top: solid 1px #DDD;
  border-bottom: solid 1px #FFF;
  border-left:solid 1px #DDD;
  border-right:solid 1px #DDD;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  z-index: 2;
}

#searchResults .nav-tabs > li > a:hover{
  color: #444444;
  border-top: solid 1px #DDD;
  border-bottom: solid 1px #FFF;
  border-left:solid 1px #DDD;
  border-right:solid 1px #DDD;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

#searchResults .nav-tabs > li > a {
border-radius:  0;
}

#searchResults .nav > li > a{
  position: relative;
  display: block;
  padding: 17px 20px;
  margin-top: 2px;
}

#searchResults .nav > li > a.disabled, #searchResults .nav > li > a.disabled:hover {
  color: #AAA !important;
  background: transparent !important;
  border: none !important;
  pointer-events: none;
  cursor: default;
}


#searchResults .nav > li {
  width: 50%;
}

.g2g-checkbox {
  margin-top: -8px !important;
  position: absolute;
}

.tab-icon {
  position: absolute;
  margin: 0px;
}

.tab-fix {
  display: block;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #DC1B46;
    border-radius: 10px;
    margin: 0 0 0 5px;
}

label.small {
  font-size: 12px;
  color: #777;
}

.gray {
  color: #777;
}
