/* FORMS   */

fieldset {
  padding: 15px 0 !important;
}

input[type="checkbox"] {
    border: 2px solid #87ACCE;
    border-radius: 0px;
    padding: 5px;
    width: 20px;
    height: 20px;
  }

#gs-form p {
  font-size: 14px;
  color: #666 !important;
  font-weight: normal !important;
}

#gs-form button  {
  font-size: 16px;
}

input, select, textarea, button {
  padding:10px 0;
}

#gs-form input.form-control, #gs-form select.form-control {
  width: 280px !important;
}

#gs-form .width-fixer {
  width: 290px !important;
}

#gs-form select.width-third, #gs-form input.width-third {
  width: 93px !important;
}

#gs-form select.width-half, #gs-form input.width-half  {
  width: 145px !important;
}

#gs-form input[type="checkbox"], input[type="radio"] {
  margin: 0 10px 0 0 !important;
  line-height: normal !important;
}


#gs-form label {
  display: inline-block;
  width: auto;
  margin-bottom: 4px;
  font-weight: normal !important;
  padding-right: 15px !important;
  font-size: 13px;
  color: #666 !important;
  text-align:left;
  vertical-align: top;
}

#gs-form select, #gs-form input, #gs-form textarea, #gs-form button.ms-choice {
  margin-right: 10px !important;
  background-color: #EEEEEE !important;
  color: #333;
  border: 1px solid #EEEEEE !important;
}

#gs-form select, #gs-form input[type="text"], #gs-form input[type="email"], #gs-form input[type="password"], #gs-form input[type="tel"] {
  height: 40px !important;

}

#gs-form label.invisible-label {
  color: transparent !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.top-fixer {
  position: relative;
  top: -11px;
  display: inline-block !important;
}

form button, form button:visited {
  background-color: #427EB4;
  padding: 7px 20px;
  color: #FFF;
  border: none;
  outline-style: none;
  transition: background-color 300ms linear 0s;
  border-bottom: 2px solid transparent;
}

form button:hover, form button:active {
  background-color: #be0f34;
  transition: background-color 300ms linear 0s;
}

.form-control:focus {
  border-color: #66AFE9;
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
  transition: box-shadow 300ms linear 0s;
}

form button:focus{
border-bottom: 2px solid #be0f34;
}

.form-inline {
  padding-bottom: 20px;
}

.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  margin-right: 25px;
}

.form-block {
  display: block;
  height: 40px;
  top: 10px;
  position: relative;
}


.sub-label {
  position: relative;
}

#contact-information {
  width: 90%;
}

.panel-body {
  padding: 25px 20px;
}

.ui-datepicker-calendar td, .ui-datepicker-calendar th {
  padding: 0 !important;
}

#gs-form .form-control {
  display: block;
  width: 100%;
  padding: 6px 30px 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 1px;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#gs-form select {
  -moz-appearance: none;
  -webkit-appearance:none;
  appearance:none;
  background: #EEEEEE url("../images/arrow-down.png") no-repeat scroll 98% center / 20px auto !important;
  outline: none;
 -moz-outline: none;
}

#gs-form select::-ms-value  {
  background: #EEEEEE !important;
  color: #555;

}

#gs-form option {
  background: #FFF !important;
}

#gs-form input:focus, #gs-form option:focus, #gs-form textarea:focus, #gs-form select:focus, #gs-form button.ms-choice:focus, #gs-form .ms-parent:focus, .ms-choice:active   {
  outline: none !important;
  border: 1px solid #BBB !important;
  transition: border 0.3s ease-in 0s;
  -moz-outline: none !important;
}

/* ACCORDION PANEL - FORMS */

.panel .gs {
  margin-bottom: 0;
  background-color: #FFF;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.panel > .panel-heading.gs {
    background-image: none !important;
    background: #427EB4 !important; /* Old browsers */
    background: -moz-linear-gradient(left,  #427EB4 0%,  #427EB4 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#427EB4), color-stop(80%,#427EB4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #427EB4 0%,#427EB4 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #427EB4 0%,#427EB4 80%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#427EB4', endColorstr='#427EB4',GradientType=1 ); /* IE6-9 */

}
 .panel-heading.gs a {
    color: #FFF !important;
    font-weight: 400 !important;
}

.panel-heading.gs h4 {
  color: #FFF !important;
  font-weight: 400 !important;
  margin: 5px 0px !important;
}

.panel .gs h4.panel-title {
  color: #FFF !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  padding: 0;
}
.panel .gs a, .panel .gs a:link, .panel .gs a:visited  {
  color: #FFF !important;
  background-color: transparent !important;
}

.panel .gs a:hover {
  background-color: transparent !important;
  color: #000 !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #FFF;         /* adjust as needed */
    margin-top: -25px;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-group .panel {
    margin-bottom: 10px;
    border-radius: 4px;
}

.catalog-item {
  margin-top: 7px !important;
}

/* removes dotted outline in firefox */
@-moz-document url-prefix() {
    select, select:-moz-focusring, select::-moz-focus-inner {
       color: transparent !important;
       text-shadow: 0 0 0 #777 !important;
    }
}


/* Buttons */

.white-icon {
  color: #FFF !important;
  top:1px !important;
  padding: 0 !important;
  margin: 0 !important;
}

form button, form button:visited {
  background-color: #427EB4;
  padding: 7px 20px;
  color: #FFF;
  border: none;
  outline-style: none;
  transition: background-color 300ms linear 0s;
  border-bottom: 2px solid transparent;
}

form button.red, form button.red:visited {
  background-color: #D9124E;
  padding: 7px 20px;
  color: #FFF;
  border: none;
  outline-style: none;
  transition: background-color 300ms linear 0s;
  border-bottom: 2px solid transparent;
}

form button.red:hover {
    background-color: #195181;
    color: #FFF;
    transition: background-color 300ms linear 0s;
}

