/* FORMS   */

#gs-form p {
  font-size: 14px;
  color: #666 !important;
  font-weight: normal !important;
}

input, select, textarea, button {
  padding:10px 0;
}

#gs-form input.form-control, #gs-form select.form-control {
  width: 280px !important;
}

#gs-form .width-fixer {
  width: 290px !important;
}

#gs-form input[type="checkbox"], input[type="radio"] {
  margin: 0 10px 0 0 !important;
  line-height: normal;
}

#gs-form label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 4px;
  font-weight: normal !important;
  padding-right: 15px !important;
  font-size: 13px;
  color: #666 !important;
}

#gs-form select, #gs-form input, #gs-form textarea {
  margin-right: 10px !important;
  background-color: #EEEEEE !important;
  color: #333;
  border: 1px solid #EEEEEE !important;
}

#gs-form select, #gs-form input {
  height: 40px;
}

form button, form button:visited {
  background-color: #427EB4;
  padding: 7px 20px;
  color: #FFF;
  border: none;
  outline-style: none;
  transition: background-color 300ms linear 0s;
}

form button:hover, form button:active {
  background-color: #be0f34;
  transition: background-color 300ms linear 0s;
}

.form-control:focus {
  border-color: #66AFE9;
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
  transition: box-shadow 300ms linear 0s;
}

textarea:focus {
  border-color: #66AFE9;
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
  transition: box-shadow 300ms linear 0s;
}

.form-inline {
  padding-bottom: 20px;
}

.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  margin-right: 25px;
}

.form-block {
  display: block;
  height: 38px;
}

.sub-label {
  position: relative;
  top: -12px;
}

#contact-information {
  width: 90%;
}

.panel-body {
  padding: 25px 20px;
}

.ui-datepicker-calendar td, .ui-datepicker-calendar th {
  padding: 0 !important;
}

#gs-form .form-control {
  display: block;
  width: 100%;
  padding: 6px 30px 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 1px;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#gs-form select {
    -moz-appearance: none;
    background: #EEEEEE url("../images/arrow-down.png") no-repeat scroll 98% center / 20px auto !important;
}

#gs-form option {
  background: #FFF !important;
}

#gs-form input:focus, #gs-form option:focus {
  border: 1px solid #BBB !important;
  transition: border 0.3s ease-in 0s;
}

/* ACCORDION PANEL - FORMS */

.panel .gs {
  margin-bottom: 0;
  background-color: #FFF;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.panel > .panel-heading.gs {
    background-image: none !important;
    /*background-image: linear-gradient(to bottom, #F5F5F5 0px, #E8E8E8 100%);*/
    background-color: #427EB4 !important;

}
 .panel-heading.gs a {
    color: #FFF !important;
    font-weight: 400 !important;
}

.panel-heading.gs h4 {
  color: #FFF !important;
  font-weight: 400 !important;
  margin: 5px 0px !important;
}

.panel .gs h4.panel-title {
  color: #FFF !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  padding: 0;
}
.panel .gs a, .panel .gs a:link, .panel .gs a:visited  {
  color: #FFF !important;
  background-color: transparent !important;
}

.panel .gs a:hover {
  background-color: transparent !important;
  color: #000 !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #FFF;         /* adjust as needed */
    margin-top: -25px;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-group .panel {
    margin-bottom: 10px;
    border-radius: 4px;
}
