#main-container{
  margin-bottom: 3% !important;
}

#map-canvas{
  height: 300px;
  width: 100%;
  margin: 0 auto;
}

/* Tabs section */
.nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { /* reset classes */
    color: #000;
    cursor: default;
    border: 1px solid transparent;
    background-image: transparent !important;
    background: none;
    transition: none;
}

.tabs {
    background-image: none !important;
    background-color: #427EB4 !important;
    border: medium none;
    border-radius: 2px;
    margin: 0px;
    box-shadow: none;
}

#gtog .nav {
  display: table !important;
  width: 100%;
}

#gtog .nav-tabs > li {
  float: none;
}

#gtog ul {
  display: table !important;
  width: 100%;
}

#gtog ul li, #gtog ul li a {
  display: table-cell !important;
  text-align: left;
  height: 100%;
}

#gtog .nav-tabs {
  border: none;
}

#gtog .nav > li {
    position: relative;
}

#gtog .nav-tabs > li > a {
  font-size: 13px;
  padding: 15px;
  border: solid 1px transparent;
  color: #444444;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

#gtog .nav-tabs > li.active, .nav-tabs > li.active:focus, .nav-tabs > li.active:hover {
  color: #444444;
  cursor: default;
  background-image: linear-gradient(to bottom, #F2F2F2 0px, #FFF 100%);
  border-top: solid 1px #DDD;
  border-bottom: solid 2px #FFF;
  border-left:solid 1px #DDD;
  border-right:solid 1px #DDD;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

#gtog .nav-tabs > li {
  position: relative;
  top: 1px;
}

#gtog .nav-tabs > li.active:hover {
  border-bottom: solid 2px #FFF;
}

#gtog .nav-tabs > li:hover {
  color: #444444;
  border-top: solid 1px #DDD;
  border-bottom: solid 2px #EEE;
  border-left:solid 1px #DDD;
  border-right:solid 1px #DDD;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

#gtog .nav-tabs > li  {
  border-radius:  0;
}

#gtog .nav > li > a {
  position: relative;
}

#gtog .nav > li > a.disabled, #gtog .nav > li:hover > a.disabled {
  color: #AAA !important;
  background: transparent !important;
  border: none !important;
  pointer-events: none;
  cursor: default;
}
#gtog .nav-tabs > li > a > img, #mob-gtog .nav-tabs > li > a > img {
  padding: 0 5px 0 5px;
  margin-top: -5px;
}

#gtog-content {
  padding: 20px;
  border: 1px solid #DDDDDD;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent !important;
}


.nav > li:focus, .nav > li:hover {
    text-decoration: none;
    background-color: #eee;
}


.nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #000;
    cursor: default;
    border: 1px solid transparent;
    background-image: transparent !important;
    transition: none;
}

#gtog .nav-tabs > li {
    border: 1px solid transparent;
}

.nav-tabs > li.active > a {
  background-color: transparent !important;
}
/* Table styles */

table.gtog, table.gtog th, table.gtog tr, table.gtog td {
  border: none !important;
  color: #545454;
  font-size: 14px;
}

table.gtog {
  border: 1px solid #CCD8E3 !important;
}

table.gtog th, .header-mobile {
  background: #82838B; /* Old browsers */
  background-image: linear-gradient(to bottom, #A0A0A8 0px, #82838B 100%) !important;
  border-radius: 0px !important;
  color: #FFF;
  padding: 15px !important;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

table.gtog tr {
  background-color: #FDFDFD;
  border-bottom: 1px solid #CCD8E3 !important;
}

table.gtog tr:nth-child(even) {
   background-color: #FFFFFF;
}

table.gtog td {
  text-align: center;
  padding: 12px !important;
  vertical-align: middle !important;
}

.gtog > tbody > tr > td {
  vertical-align: middle !important;
  text-align: center !important;
}

button.register, button.register:visited {
    color: #FFF;
    background-color: #67C067;
    padding: 5px 15px;
    box-shadow: none;
    border: none;
    border-radius: 2px;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

button.register:hover {
  color: #FFF;
  background-color: #008C23;
  padding: 5px 15px;
  box-shadow: none;
  border: none;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}


h1.g2g {
  padding-bottom: 20px;
}


/*==========  MEDIA QUERIES  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

      table.gtog th{
        padding: 10px !important;
        font-size: 13px;
      }

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      #gtog .nav-tabs > li > a {
        font-size: 11px;
        padding: 10px;
      }

      table.gtog th, .header-mobile {
        padding: 10px !important;
        font-size: 12px;
      }

      table.gtog th{
        padding: 10px !important;
        font-size: 12px;
      }

      table.gtog td {
        font-size: 12px;
      }

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

      #gtog ul li, #gtog ul li a {
        display: block !important;
        text-align: center;
      }

      #gtog .nav-tabs > li > a {
        font-size: 12px;
        padding: 10px;
      }

      table.gtog th, .header-mobile {
        padding: 10px !important;
        font-size: 11px;
      }

      table.gtog, table.gtog th, table.gtog tr, table.gtog td {
        font-size: 11px;
      }

      #gtog .nav-tabs {
        border: 1px solid #DDD;
      }

      #gtog .nav-tabs > li, #gtog .nav-tabs > li.active, .nav-tabs > li.active:focus, .nav-tabs > li.active:hover {
        border: none !important;
      }

      #gtog-content {
        padding: 0;
        border: 1px solid #DDDDDD;
      }

      .table {
        margin-bottom: 0;
      }

      table.gtog td {
        text-align: center;
        padding: 5px !important;
        vertical-align: middle !important;
      }

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

      #gtog .nav-tabs > li, #gtog .nav-tabs > li.active, .nav-tabs > li.active:focus, .nav-tabs > li.active:hover {
        border: none !important;
      }

      #gtog ul li, #gtog ul li a {
        display: block !important;
        text-align: center;
      }

      table.gtog, table.gtog th, table.gtog tr, table.gtog td {
        font-size: 9px;
      }

    }


    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

      #gtog ul li, #gtog ul li a {
        display: block !important;
        text-align: center;
      }

      table.gtog, table.gtog th, table.gtog tr, table.gtog td {
        font-size: 7px;
      }

      table.gtog td {
        text-align: center;
        padding: 0px !important;
        vertical-align: middle !important;
      }

    }
