/*
    Style for header login popover box
*/

#header-login-form input {
    border-radius: 0 !important;
    border: 2px solid #DDDDDD;
}

#header-login-section {
    margin: 0px 10px 0px 10px;
}

.popover-content a {
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: underline;
}

.popover-content .btn-link {
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: underline;
}

.popover-content {
    padding: 30px 15px;
}

.popover {
    border-radius: 0;
    border: 0px;
    background-color: #5293C6;
}

.popover.bottom > .arrow:after {
    border-bottom-color: #DDDDDD;
}

.popover.bottom > .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-width: 0;
}

.popover.bottom {
    margin-top: 20px;
}
