/* Landing pages form */


#request-information {
  margin:2.5%;
  width: 95%;
  border: 2px solid #417CB4;
  padding: 10px;
  min-height: 660px;
}

#request-information h1 {
  font-size: 26px !important;
  text-align: center;
  font-weight: 500;
  color: #025A95;
}

#request-information h3 {
  font-size: 18px !important;
  text-align: center;
  font-weight: 500;
}

#landing {
  max-width: 300px;
  margin: 0 auto;
}

#gs-form input.form-control, #gs-form select.form-control {
    max-width: 300px !important;
    width: 100% !important;
}

.submit-button-right {
  text-align: right;
}

.submit-button {
  display: inline-block;
}

.submit-button-right .form-group {
  margin-right: 0px;
}

.form-inline .form-group {
    margin-bottom: 15px !important;
}
