
/*==========  MEDIA QUERIES  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

      ul.quick-links li {
          display: inline-block;
          margin-left: 5px;
      }

      #course-information .nav-tabs > li > a {
      font-size: 14px !important;
      padding: 15px 5px !important;

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      .mob-rem {
        display: none;
        visibility: hidden;
      }

        /* NavBar breaking point */
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            margin: 7.5px -15px;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #form-filters ul {
          display: block;
          margin: 10px 0 !important;
          padding: 5px  !important;
        }

        #form-filters ul li {
          display: inline-block;
          list-style: none;
          padding: 3px 7px;
        }

        #form-filters span {
          font-size: 17px;
        }

        #form-filters ul li a {
          font-size: 15px;
        }

        blockquote {
          width: 50%;
          font-size:24px !important;
          padding: 10px 15px;
          margin: 5px;
          text-indent: 30px;
          position: absolute;
          top:40px;
          left:20px;
          background-image: url(../images/openquote.png);
          background-position: top left;
          background-repeat: no-repeat;
          background-size: 40px;
        }

        blockquote span {
          color: #FFF;
          display: block;
          background-image: url(../images/closequote.png);
          background-repeat: no-repeat;
          background-position: right bottom;
          background-size: 40px;
        }

        #course-information .nav-tabs > li > a {
        font-size: 14px !important;
        padding: 15px 5px !important;
}

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

      .mobile {
        display: block;
        visibility: visible;
      }

      .non-mobile {
        display:none;
        visibility: hidden;
      }

      .mobile-nopadding {
        padding: 0 !important;
      }


      /* remove "CLEAR ALL" button from refine search sidebar on smaller res */
      .refine {
        display: none;
      }

      /* fixes */
      .padding-l {
      padding-left: 0 !important;
      }

      .padding-r {
      padding-right: 0 !important;
      }

      .nopadding-l {
      padding-left: 15px !important;
      }

      .nopadding-r {
      padding-right: 15px !important;
      }

      /* fix MAIN Nav menu items width on mobile */
      .w1 {
        width: 100% !important;
      }
      .w2 {
        width: 100% !important;
      }
      .w3 {
        width: 100% !important;
      }
      .w4 {
        width: 100% !important;
      }


      .title h1 {
        font-size: 22px;
        margin: 10% 0 5% 0;
      }

      .title p {
        font-size: 12px;
      }

      a.breadcrumbs, a.breadcrumbs:visited {
        font-size: 12px;
      }

      a.breadcrumbs:hover,a.breadcrumbs:active  {
        font-size: 12px;
      }

      .mob-rem {
        display: none;
        visibility: hidden;
      }

      #form-filters {
        padding: 15px 20px;
      }

      #form-filters ul li {
        display: block;
        list-style: none;
        padding: 3px 7px;
      }

      #form-filters ul {
        display: block;
        margin: 10px 0 !important;
        padding: 5px  !important;
      }

      #form-filters ul li+li {
         border-left: none;
       }

       blockquote {
         display: block;
         width: 100%;
         font-size: 20px !important;
         padding-top: 5px;
         margin: 0px;
         text-indent: 30px;
         position: relative;
         top:10px;
         left:0px;
         background-image: url(../images/openquote.png);
         background-position: top left;
         background-repeat: no-repeat;
         background-size: 30px;
       }

       blockquote span {
         color: #000;
         display: block;
         background-image: url(../images/closequote.png);
         background-repeat: no-repeat;
         background-position: right bottom;
         background-size: 30px;
       }

       img.testimonial-bg {
         display: none;
         visibility: hidden;
       }


       #related-links .panel-body {
         padding: 15px 5px;
       }

       #searchResults .nav > li {
         width: 100% !important;
       }

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

      .title .util {
        position: relative;
        display: inline;
        float: right;
        top: 25px;
        clear: right;
        padding-right: 0;
        text-align: right;
      }

      .util ul li a img {
       margin-bottom: 10px;
     }

     #form-filters ul li {
       display: block;
       list-style: none;
       padding: 5px 7px;
     }

     #form-filters ul li+li {
        border-left: none;
      }

      #form-filters ul {
        display: block;
        margin: 10px 0 !important;
        padding: 10px !important;
      }

    }



    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
