
/*==========  Menu Styles  ==========*/

.gs .nav,
.gs .collapse,
.gs .dropup,
.gs .dropdown {
  position: static;
}
.gs .container {
  position: relative;
}
.gs .dropdown-menu {
  right: 16px;
  left: auto;
}
.gs .gs-content {
  padding: 20px 30px;
}
.gs .dropdown.gs-fw .dropdown-menu {
  left: 0;
  right: 0;
}

.navbar-default {
    background-image: linear-gradient(to bottom, #FFF 0px, #FFF 100%);
    background-repeat: repeat-x;
    border-radius: 2px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 2px 3px rgba(0, 0, 0, 0.035);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: #fff;

}

ul.dropdown-menu li ul li {
  list-style: none;
}

ul.dropdown-menu li ul li a, ul.dropdown-menu li ul li:active, ul.dropdown-menu li ul li:focus,
select::-moz-focus-inner, option::-moz-focus-inner {
  padding: 0 !important;
  outline: 0 !important;
  border: none !important;
}


/* MENU item styles */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
    background-image: linear-gradient(to bottom, #B2B2B2 0px, #8E8E8E 100%);
    background-repeat: repeat-x;
    font-size: 14px !important;
    font-weight: normal !important;
    color: #fff !important;
    line-height: 18px;
    -webkit-transition: background-image 300ms linear;
    -moz-transition: background-image 300ms linear;
    -o-transition: background-image 300ms linear;
    -ms-transition: background-image 300ms linear;
    transition: background-image 300ms linear;
}

.navbar-default .navbar-nav > li > a {
    color: #666666;
    font-size: 14px !important;
    font-weight: normal !important;
    white-space:normal !important;
    word-wrap:normal;
    display: block;
    line-height: 18px;
    text-transform: capitalize;
    text-align: left;
}

div.icon {
  display: inline;
  height: 30px !important;
  padding: 0px 8px 5px 0px;
  float:left;
  clear: both;
  margin: -3px 0 0 0;
}

div.icon img {
  width: 34px;
}


.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

ul.dropdown-menu li a {
  text-align: left;
}

.gs .dropdown.gs-fw .dropdown-menu {
    left: 0px;
    right: 0px;
    /* fallback */
    background-color: ##FFFFFF;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#E9EEF3));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #FFFFFF, #E9EEF3);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #FFFFFF, #E9EEF3);
    /* IE 10 */
    background: -ms-linear-gradient(top, #FFFFFF, #E9EEF3);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #FFFFFF, #E9EEF3);
}

.dropdown-menu  h4 {
  color: #1F1F1F;
  font-size: 20px;
  font-weight: 200;
  padding-bottom: 4px;
  border-bottom:1px solid #BBBBBB;
}

.dropdown-menu ul li a {
  color: #1F1F1F;
  font-size: 14px;
  font-weight: 500;
}

.dropdown-menu ul li a:hover {
    color: #4178B1;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
}
.dropdown-menu ul {
  padding:0;
  margin:0;
}

.border-between > [class*='col-']:before {
 background: #e3e3e3;
 bottom: 0;
 content: " ";
 left: 0;
 position: absolute;
 width: 1px;
 top: 35px;
}
.border-between > [class*='col-']:first-child:before {
 display: none;
}


/* Width fixes  */
.navbar-nav {
    width: 100%;
}

.w1 {
  width: 16%;
}
.w2 {
  width: 24%;
}
.w3 {
  width: 22%;
}
.w4 {
  width: 22%;
}

.w5 {
  width: 16%;
}

/* menu styes */
.list-unstyled,
.list-unstyled ul { min-width: 120px }

@media ( min-width: 767px ) {
  .navbar .panel-group { width: 400px; }
  .thumbnail { margin: 0; }
}


/* Mobile toggle buttom */
.navbar-toggle {
    position: relative;
    float: right;
    padding: 8px 10px 3px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 2px solid transparent;
    border-radius: 1px;
}

.navbar-default .navbar-toggle {
    border-color: #EEEEEE;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #BF3C46;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 27px;
    height: 3px;
    border-radius: 1px;
}



.menu-title {
  font-size: 10px;
  color: #345982;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

/* Grid demo styles */
.grid-demo {
  padding: 10px 30px;
}

.grid-demo [class*="col-"] {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
  text-align: left;
  line-height: 2;
  background-color: transparent;
}


/* TOP NAV */
#nav-top {
  	position:relative;
  	width:100%;
  }
  #nav-top .npanel { display:none; padding: 0; }
  #nav-top .toggle {
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.3) inset, 0px 2px 2px rgba(0, 0, 0, 0.25);
  	cursor:pointer;
  	position:absolute;
  	right:0px;
  }
  #nav-top .toggle a {
  	content: '';

  }
  #nav-top .hide-panel a {

  }
  #nav-top .toggle:hover a { top: 10px; }
  #nav-top .toggle.hide-panel:hover a { top: 8px; }


#nav-top h4 {	margin-bottom:17px;	font-size:18px; border-bottom: 1px solid #E7E7E7; line-height:46px }
#nav-top h6 {
	margin-bottom: 17px;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #E7E7E7;
	line-height: 30px;
}
#nav-top .location-map iframe { width:220px; height:200px;}
#nav-top .columns { position:relative; }

#nav-top ul.nav li, .nav-pills > li.active > a,  .nav-pills > li > a:hover, #nav-top ul.nav li.active {
  border-radius: 0;
}

.left-panel {
  background-color: transparent !important;
}

#left-panel-fix {
    background-color: #D81251 !important;
    left: 0;
    position: absolute;
    height: auto;
    width: 400px;
}

#nav-top ul.nav li {
  background-color: transparent  !important;
  color: #FFF  !important;
  border-bottom: 1px solid #4979A1;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.nav-pills > li.active > a {
background-color: #D81251 !important;
color: #FFFFFF  !important;
-webkit-transition: background-color 300ms linear;
-moz-transition: background-color 300ms linear;
-o-transition: background-color 300ms linear;
-ms-transition: background-color 300ms linear;
transition: background-color 300ms linear;
}

 .nav-pills > li > a {
  color: #FFFFFF  !important;
 }
 .nav-pills > li > a:hover {
   background-color: #D81251 !important;
  color: #FFFFFF  !important;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
 }

#nav-top ul.nav li.active {
  background-color: #D81251 !important;
  color: #FFF  !important;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

#nav-top ul.nav li:hover {

}

.user-icon {
  margin: -8px 0 0 0;
  padding: 0 0 0 10px;
}

/* UNDERLINE animation  */
.underlined {
  position: relative;
  color: #ff3296;
}

.underlined:hover {
  color: none;
  background: none;
}
.underlined:hover:after {
  width: 100%;
}

.underlined:after {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0;
  height: 3px;
  background-color: #E21264;
  content: "";
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.navbar-fixed-top {
    position: fixed !important;
    top:0;
    z-index: 1030;
}
