/*==========  GRADUATE SCHOOL Styles  ==========*/
/*==============================================*/

*[id^='glyphicon'] {
  color: white !important;
}


html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  -webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#printPage{
  cursor:pointer;
}

body {
  height: 100%;
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 0;
  overflow-x: hidden;
  color: #444;
}

img.responsive {
  width : 100%;
  max-width: 100%;
  height: auto;
}


p {
  font-size: 15px;
  color: #444444;
  padding: 10px 0 !important;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* LINKS */
a {
  cursor: pointer;
}


a:link, a:visited{
   color: #337AB7;
 }

 a:hover, a:active {
   color: #000;
 }

a:link, a:visited {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active {
    background: transparent;
    text-decoration: none;
    border: none;
    outline: none;
}

a.readmore:link,
a.readmore:visited {
  color: #fff;
  background-position: 0 15px;
}

a.readmore:hover,
a.readmore:active {
  color: #fff;
  background-position: 0 15px;
  border: 1px solid transparent;
}

a.blue, a.blue:visited  {
    padding: 8px 20px;
    background-color: #195181;
    color: #FFF;
    font-size: 15px;
    font-weight: normal;
    margin: 0px auto;
    transition: background-color 300ms linear 0s;
}

a.blue:hover {
    padding: 8px 20px;
    background-color: #D9124E;
    color: #FFF;
    font-size: 15px;
    font-weight: normal;
    margin: 0px auto;
    transition: background-color 300ms linear 0s;
    z-index: 9999;
}

a.red, a.red:visited {
    padding: 8px 20px;
    background-color: #D9124E;
    color: #FFF;
    font-size: 15px;
    font-weight: normal;
    margin: 0px auto;
    transition: background-color 300ms linear 0s;
}

a.red:hover {
    padding: 8px 20px;
    background-color: #195181;
    color: #FFF;
    font-size: 15px;
    font-weight: normal;
    margin: 0px auto;
    transition: background-color 300ms linear 0s;
    z-index: 9999;
}


a.breadcrumbs, a.breadcrumbs:visited {
  color: #FFF;
  text-decoration: none;
  font-weight: normal;
}

a.breadcrumbs:hover,a.breadcrumbs:active  {
  color: #FFF;
  text-decoration: underline;
  font-weight: normal;
  background-color: transparent;
}


/* ALERT */

#slider {
  position: relative;
}

#alert {
  top: 0;
  position: absolute;
  z-index: 998;
  margin: 20px;
  background: rgba(58,117,175,  0.3);
  border:  1px solid rgba(58,117,175,  0.4) !important;
}

#alert h5, #alert p {
  color: #000 !important;
}

#alert a {
  color: #063D85 !important;
  text-decoration: underline;
}

#alertDismiss.glyphicon {
  font-size: 18px;
  color: #A94442;
}

#alertDismiss.glyphicon:hover{
  font-size: 18px;
  color: #327EBC;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}


#alertDismiss {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.alert-icon {
  padding: 0 5px 0 0;
}

/* GENERIC CONTENT TEMPLATE */
section, article {
  padding: 10px 0;
}

article.nested {
   padding: 10px;
 }

section h2 {
  margin: 5px 0;
}

a.expand-section:link {
  font-size: 17px;
  color: #327EBC;
  background: none;
  border-color: none;
  text-decoration: underline;
  transition: background-color 300ms linear 0s;
}

a.expand-section:visited {
  font-size: 17px;
  color: #327EBC;
  background: none;
  border-color: none;
  text-decoration: underline;
  transition: background-color 300ms linear 0s;
}

a.expand-section:hover {
  color: #D7124D;
  transition: background-color 300ms linear 0s;
}

a.expand-section:focus {
  color: #D7124D;
  transition: background-color 300ms linear 0s;
}

a.expand-section:active {
  color: #D7124D !important;
  transition: background-color 300ms linear 0s;
}


h1 {
  color: #00508A;
  font-size: 25px !important;
  font-weight: bold;
  text-align: left;
  line-height: 1.3;

}

h2 {
  color: #222222;
  font-size: 20px !important;
  font-weight: bold;
  text-align: left;
  line-height: 1.3;
}

h3 {
  color: #222222;
  font-size: 18px !important;
  font-weight: bold;
  text-align: left;
  margin: 15px 0 15px 0;
  line-height: 1.3;
}

h4 {
  color: #222222;
  font-size: 17px !important;
  font-weight: bold;
  text-align: left;
  margin: 15px 0 15px 0;
  line-height: 1.3;
}

.glyphicon {
  font-size: 18px;
  color: #327EBC;
  top: 4px;
  margin-right: 5px;
}


/* SIDEBAR PANEL - RELATED LINKS */
#sidebar ul {
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  list-style: none;
  line-height: 25px;
  padding-left: 15px;
  margin-bottom: 7px;
}


.panel-body ul li a {
  font-size: 15px;
  color: #555555;
  font-weight: bold;
  transition: background-color 300ms linear 0s;
}

.panel-body ul li a:hover {
  font-size: 15px;
  color: #000;
  font-weight: bold;
  transition: background-color 300ms linear 0s;
}

.panel > .panel-heading.related-links {
    background-image: none !important;
    background-color: #427EB4 !important;
    border-radius: 0 !important;
}

.panel .related-links h4.panel-title {
    color: #FFF !important;
    font-size: 18px;
    font-weight: 400 !important;
    padding: 5px 0px;
}

.panel .related-links a, .panel .related-links a:link, .panel .related-links a:visited {
    color: #FFF !important;
    background-color: transparent !important;
}

.panel-heading.related-links a {
    color: #FFF !important;
    font-weight: 400 !important;
}




/* ACCORDION PANEL - FORMS */

.panel .gs {
  margin-bottom: 0;
  background-color: #FFF;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.panel > .panel-heading.gs {
    background-image: none !important;
    /*background-image: linear-gradient(to bottom, #F5F5F5 0px, #E8E8E8 100%);*/
    background-color: #427EB4 !important;

}
 .panel-heading.gs a {
    color: #FFF !important;
    font-weight: 400 !important;
}

.panel-heading.gs h4 {
  color: #FFF !important;
  font-weight: 400 !important;
  margin: 5px 0px !important;
}

.panel .gs h4.panel-title {
  color: #FFF !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  padding: 0;
}
.panel .gs a, .panel .gs a:link, .panel .gs a:visited  {
  color: #FFF !important;
  background-color: transparent !important;
}

.panel .gs a:hover {
  background-color: transparent !important;
  color: #000 !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #FFF;         /* adjust as needed */
    margin-top: -25px;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-group .panel {
    margin-bottom: 10px;
    border-radius: 4px;
}


/* ALERTS */
.alert {
    padding: 15px;
    margin: 20px 0;
    border: 1px solid transparent;
    border-radius: 0px;
}

.alert-danger {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #eee;
}

.alert {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.alert-danger {
    background-image: linear-gradient(to bottom, #ECF2F7  0px, #D7E3EE 80%);
    background-repeat: repeat-x;
    border-color: #D7E3EE;
}

/* What's new temporary styles */

#whats-new {
  font-size: 22px !important;
  display: block;
  width: 100%;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #FDFDFD;
}

.table > tbody > tr > td {
  vertical-align: middle !important;
  text-align: left;
}

 blockquote#whats-new span {
  color: #000;
}

.util ul {
  padding: 0 !important;
}

img.home {
  margin-top: -3px;
}

.img {
  width: 100%;
  max-width: 1000px;
}

.imga {
  display: inline-block;
}


h1.box {
font-size: 30px;
border-left: 20px solid #993;
padding-left: 10px;
color: #004C4C;

}


button.quote {
background-color: #993;
color: #FFFFFF !important;
padding: 10px 20px;
margin-bottom: 20px !important;
}

blockquote {
  font-size: 15px !important;
}

table {
  	width: 100%;
    margin: 20px 0 px !important;
}

table, th, tr, td {
  border: 1px solid #DDD;
}

td, th {
  padding: 5px 10px !important;
}

table h5 {
    color: #008C00;
    padding: 0;
}

table.generic th {
  background-color: #427EB4 !important;
  padding: 20px !important;
  color: #FFF;
  font-size: 14px;
}

table.generic td {
  padding: 5px 20px !important;
}


/* END What's new temporary styles   */


/* FORMS   */
label, input, select, textarea, button {
  padding:10px 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500 !important;
    padding-right: 15px !important;
}

select, input {
  margin-right: 10px !important;

}
/*
label {
  display: block;
} */

form button, form button:visited {
  background-color: #427EB4;
  padding: 7px 20px;
  color: #FFF;
  border: none;
  outline-style: none;
  transition: background-color 300ms linear 0s;
}

form button:hover, form button:active {
  background-color: #be0f34;
  transition: background-color 300ms linear 0s;
}

.form-control:focus {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
    transition: box-shadow 300ms linear 0s;
}

textarea:focus {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
    transition: box-shadow 300ms linear 0s;
}

/*#ms:focus{
  border-color: #66AFE9;
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
  transition: box-shadow 300ms linear 0s;
}

.ms-parent:focus {
  border-color: #66AFE9;
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
  transition: box-shadow 300ms linear 0s;
}

.ms-choice:focus {
  border-color: #66AFE9;
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
  transition: box-shadow 300ms linear 0s;
}*/

#contact-information {
  width: 80%;
}

.panel-body {
  padding: 25px 20px;
}

.ui-datepicker-calendar td, .ui-datepicker-calendar th {
  padding: 0 !important;
}

/* TOP NAVIGATION  */
.fix {
  padding-top: 30px;
}

.fix-padding-bottom {
  padding-bottom: 30px;
}

.npanel{
  width: 100%;
}

.nav-top {
  border-bottom: 3px solid #01274F;
  background: transparent linear-gradient(to right, #2A4D77 0%, #3B6FA0 53%, #3D6F9E 63%, #01274F 100%) repeat scroll 0% 0%;
  padding: 0;
  top:0;
}

.nav-top-bar {
  background: transparent linear-gradient(to right, #2A4D77 0%, #3B6FA0 53%, #3D6F9E 63%, #01274F 100%) repeat scroll 0% 0%;
  height: 33px;
  margin: 0 0 0 0;
}

.nav-top-bar ul {
  padding: 4px 15px 0 15px !important;
  display: block;
}

.nav-top-bar ul li {
  display: inline-block;
  list-style: none;
}

.nav-top-bar ul li + li {
    border-left: 1px solid #EEE;
}

.nav-top-bar ul li a {
  padding: 12px 20px;
  font-size: 13px;
  font-weight: bold !important;
 }


/*a.nav-top-button  {
  background-color: #01467F;
  width: 33px;
  height: 33px;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

 a.nav-top-button:hover {
  background-color: #E21264;
  text-decoration: none;
}*/

.left-panel ul li a {
  color: #fff;
  font-size: 15px;
  font-weight:normal;
  line-height: 25px;
  text-decoration: none !important;

}
.left-panel ul li a:hover {
  text-decoration: none !important;
}

#nav-top h3 {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  color: #fff;
  padding: 0;
  margin: 0;
  line-height: 25px;
  letter-spacing: 1px;
}
#nav-top ul {
  padding: 0 0 20px 0;
  margin: 0;
}

#nav-top ul li {
  font-size: 13px;
  color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 23px;
}

#nav-top ul li a {
  color: #fff;
  font-weight:normal;
  text-align: left;
}

#nav-top ul li a:hover {
  background-color: transparent;
  color: #FFF;
  text-decoration: underline;
}

#nav-top img.size-fix {
  height: 30px;
}


/* HEADER  */
.header {
  background-color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 17px;
}

header {
  margin-top: -10px;
}

ul.quick-links li{
display: inline-block;
margin-left: 25px;
}

ul.quick-links li a {
  color: #444444;
  font-weight: 300;
  font-size: 15px;
}

ul.customer-support {
    padding: 0;
}

ul.customer-support li {
list-style: none;
padding: 5px 0;
}

ul.customer-support li a {
  color: #333333;
  font-weight: normal;
  font-size: 14px;
}

ul.customer-support li a:hover {
  color: #1C578A;
  background: none;
}


/*  SEARCH  */
#search-form {
  border: 2px solid #D7DDEB !important;
  border-radius: 2px !important;
  width: 100%;
}


#course-search-button.btn-default {
  background-color: transparent;
  background-image: none;
  border-radius: 0 !important;
  border: none !important;
  box-shadow:none !important;
  padding: 5px !important;
}

#searchCriteria.form-control {
  border:none !important;
  border-radius: 0 !important;
  box-shadow:none !important;
}


#moreSearchOptions {
  text-align: right;
  padding: 10px 5px 0 0;
  font-weight: normal !important;
  color: #01467F;
  font-size: 14px;
}

#moreSearchOptions:hover {
  color: #000;
  cursor: pointer;
}

h3.light {
  font-size: 22px !important;
  font-weight: 200;
  margin: 0 !important;
  color: #555555;
}

img.search {
  padding: 80px 20px;
  text-align: center;
  margin: 15px auto;
}

.locations{
  position: relative;
  width: 100%;
  margin: 1px 0 0 0;
  padding: 10px;
  background-image: linear-gradient(to bottom, #FFF 0px, #F4F4F4 100%);
  overflow: hidden;
  z-index: 9999999;
  box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.25) inset, 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.locations .form-control {
  display: inline-block !important;
  width: 100px !important;
}

.locations select, .locations input[type="checkbox"]{
    border: 2px solid #87ACCE;
    border-radius: 0px;
    padding: 6px 16px 6px 7px;
    margin: 0 5px;
}

.locations select{
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background: #FFF url("../images/arrow-down.png") no-repeat scroll 95% center / 20px auto;
}

.locations span {
  color: #666666;
  display: inline-block;
  font-size: 14px;
}

a.go-button, a.go-button:visited {
    height: 34px !important;
    margin: 0;
    background-color: #427EB4;
    padding: 7px 10px;
    color: #FFF;
    border: medium none;
    outline-style: none;
    transition: background-color 300ms linear 0s;
    border-radius: 2px;
}

a.go-button:hover, a.go-button:active {
  background-color: #be0f34;
  transition: background-color 300ms linear 0s;
}

.searchBox {
    position:absolute;
    background-color: #FFF !important;
    overflow: visible;
    z-index: 99;
    top: 0;
    right: 6px;
    width: 100%;
}

#searchIcon {
  position: absolute;
  top: 7px;
  right: 13px;
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

#searchIcon:focus, #searchIcon:hover {
  opacity: 0.6;
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.wrapper {
  position: relative;
}

/* BANNER */
.banner {
  position: relative;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 6px 0 0 0;
  background: #2a4d77; /* Old browsers */
  background: -moz-linear-gradient(left,  #2a4d77 0%, #3971ab 26%, #3971ab 51%, #01274f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2a4d77), color-stop(26%,#3971ab), color-stop(51%,#3971ab), color-stop(100%,#01274f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #2a4d77 0%,#3971ab 26%,#3971ab 51%,#01274f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #2a4d77 0%,#3971ab 26%,#3971ab 51%,#01274f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #2a4d77 0%,#3971ab 26%,#3971ab 51%,#01274f 100%); /* IE10+ */
  background: linear-gradient(to right,  #2a4d77 0%,#3971ab 26%,#3971ab 51%,#01274f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a4d77', endColorstr='#01274f',GradientType=1 ); /* IE6-9 */
}

.banner h3, .banner a  {
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding:  0;
}

.banner a:hover {
  color: #FFF;
  background-color: transparent;
}


/* TITLE */
.title {
  position: relative;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100px;
  /* background-image: linear-gradient(to bottom, #01386C 0px, #4172A4 100%);*/
  /* background: #3375B2 url('../images/title-bar.png') no-repeat left; */
  padding: 0 20px;
  margin-bottom: 30px;
  background: #2a4d77; /* Old browsers */
  background: -moz-linear-gradient(left,  #2a4d77 0%, #3971ab 26%, #3971ab 51%, #01274f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2a4d77), color-stop(26%,#3971ab), color-stop(51%,#3971ab), color-stop(100%,#01274f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #2a4d77 0%,#3971ab 26%,#3971ab 51%,#01274f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #2a4d77 0%,#3971ab 26%,#3971ab 51%,#01274f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #2a4d77 0%,#3971ab 26%,#3971ab 51%,#01274f 100%); /* IE10+ */
  background: linear-gradient(to right,  #2a4d77 0%,#3971ab 26%,#3971ab 51%,#01274f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a4d77', endColorstr='#01274f',GradientType=1 ); /* IE6-9 */
}

.title h1 {
  font-size: 28px;
  font-weight: 300;
  color: #FFF;
  padding: 0;
}

.title p {
  font-size: 16px;
  color: #FFF;
  padding: 0 0 10px 0 !important;
}

.title .util {
  position: relative;
  display: inline;
  float: right;
  top: 75px;
  clear: right;
  padding-right: 0;
}

.title .util  ul li {
  display: inline;
  list-style: none;
}

.util  ul li a:hover {
  background-color: transparent !important;
}


/* NEWS & EVENTS */
.testimonial, .news-and-events {
margin: 35px 0;
}

.testimonial {
  display: block;
  width: 100%;
}

.testimonial img {
  position: relative;
}

blockquote {
  width: 50%;
  font-size: 26px !important;
  padding-top: 5px;
  margin: 5px;
  background-image: url(../images/openquote.png);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 35px;
  position: absolute;
  top:60px;
  left:20px;
  border: none !important;
  font-style: italic;
  font-weight: lighter;
  }

  blockquote span {
    color: #FFF;
    display: block;
    background-image: url(../images/closequote.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

img.testimonial {

}

.news {
  margin-bottom: 30px;
}


.news-entry {
margin: 20px 0;
}

.news-and-events a, .news-entry a {
color: #035A95;
background-color: transparent !important;
-webkit-transition: background-color 300ms linear;
-moz-transition: background-color 300ms linear;
-o-transition: background-color 300ms linear;
-ms-transition: background-color 300ms linear;
transition: background-color 300ms linear;
}

.news-and-events a:hover, .news-entry a:hover {
  color: #000;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.news-entry hr {
  margin: 30px 0 -10px 0;
}

.news-and-events h3 {
  font-size: 20px;
}

.news-and-events h3 > img{
  padding: 0 0 7px 0;
}

.news-and-events a > h5 {
  font-size: 15px;
  text-align: left;
  color: #000;
  font-weight: bolder;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  line-height: 1.4;
}

.news-and-events a > h5:hover {
  color: #1C578A;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.news-date {
  background-image: url(../images/news-date.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 54px;
  height: 54px;
  float: left;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  clear: both;
  margin: 10px 10px 0 0;
}

span.month {
  position: relative;
  color: #FFF;
  font-size: 12px;
  font-weight: normal;
  top: -3px;
}

span.day {
  position: relative;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  top: -5px;
}


img.news-date {
  margin: 10px 0 0 -15px;
}

.news-excerpt p {
  padding-top: 10px;
}


/* FORMS section */

#form-filters {
  margin: 15px 0 30px 0;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding: 5px 20px;
}

#form-filters ul {
  display: inline-block;
  margin: 5px 0 !important;
}

#form-filters ul li {
  display: inline-block;
  list-style: none;
  padding: 5px 20px;
}

#form-filters ul li+li {
   border-left: 1px solid #AAAAAA;
 }

#form-filters span {
  font-size: 16px;
  color: #333333;
  font-weight: normal;
}

#form-filters ul li a {
  font-size: 15px;
  color: #333333;
  font-weight: normal;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

#form-filters ul li a:hover {
  color: #3E79B2;
  font-weight: normal;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

#form-filters ul li a:focus {
  color: #3E79B2;
  font-weight: normal;
}

section#assets {
  padding: 0 !important;
}

section#assets h3 {
    color: #333333 !important;
    margin: 20px 0 5px 0;
    font-weight: 500;
}

p.asset {
    font-size: 13px;
    margin: 0 0  0 5px;
    padding: 2px 0 !important;
}

p.asset a span img {
    padding:  0 7px 0 0 !important;
}

p.asset a {
  font-size: 14px;
  color: #444444 !important;
  font-weight: normal !important;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

p.asset a:hover {
  color: #3E79B2 !important;
  font-weight: normal !important;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

p.asset a:focus {
  color: #3E79B2 !important;
  font-weight: normal !important;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}


/* USER TYPES */
.user-types {
  background-color: #F5F7F9;
}

.user-types h2 {
  color: #383F3F !important;
  font-weight: 300 !important;
  font-size: 28px !important;
  padding-bottom: 20px !important;
  margin: 5px 0 !important;
}

.user-type {
  background-color: #E6EBF1;
  margin: 35px 0;
  padding-bottom: 20px;
  height: auto;
  border: 1px solid #CCCCCC;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.user-type:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(163,160,163,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(163,160,163,1);
  box-shadow: 0px 0px 5px 1px rgba(163,160,163,1);
}

.user-type h2 {
  font-size: 28px;
  font-weight: normal;
}

.user-type h2, .user-type div a {
  text-align: center;
  padding: 10px;
}

.user-type div {
  height: auto;
  width: 100%;
  margin: 0 auto 20px auto;
  text-align: center;
}

.user-type div a {
  padding: 10px 20px;
  background-color: #195181;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: normal;
  margin: 0 auto;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.user-type div a:hover {
  background-color: #E21264;
}



/* FOOTER  */
.bar {
  position: relative;
  left: -20px;
  width: 110%;
  height: 13px;
  margin-bottom: 25px;
  background: #2a4d77; /* Old browsers */
  background: -moz-linear-gradient(left,  #2a4d77 0%, #3b6fa0 53%, #3d6f9e 63%, #01274f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2a4d77), color-stop(53%,#3b6fa0), color-stop(63%,#3d6f9e), color-stop(100%,#01274f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #2a4d77 0%,#3b6fa0 53%,#3d6f9e 63%,#01274f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #2a4d77 0%,#3b6fa0 53%,#3d6f9e 63%,#01274f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #2a4d77 0%,#3b6fa0 53%,#3d6f9e 63%,#01274f 100%); /* IE10+ */
  background: linear-gradient(to right,  #2a4d77 0%,#3b6fa0 53%,#3d6f9e 63%,#01274f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a4d77', endColorstr='#01274f',GradientType=1 ); /* IE6-9 */
}

.footer {
  background-color:  #E6EBF1;
}

footer hr {
  border-color: #DDD -moz-use-text-color -moz-use-text-color;
}

footer p, footer a, footer h3 {
  color: #222222;
}

footer h3 {
  text-decoration: underline;
  font-size: 16px;
}

footer ul.customer-support.footer {
  margin-top: 20px;
}

p.copyright {
  color: #3A3A3B;
  font-size: 13px;
  padding: 15px 0;
}

p.disclaimer {
  color: #999;
  font-size: 12px;
  padding: 15px 0;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
  padding: 3px 0;
}
 ul.footer li a {
  font-size: 13px;
  font-weight:normal;
  color: #222222;
}

 ul.footer li a:hover {
  color: #3A6799;

 }

ul.networks {
  padding: 15px 10px;
}

ul.networks img {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

ul.networks img:hover {
  width: 26px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}


ul.networks-mobile {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
}

ul.networks-mobile li {
  display: inline-block;
  padding: 0 7px;
}

ul.networks-mobile img {
  width: 27px;
}

ul.networks-mobile li a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

ul.networks-mobile li a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#footer-menu {
  position: fixed;
  width: 100%;
  height: 35px;
  bottom: 0px;
  left:0;
  right: 0;
  background-color: #E6EBF1;
  border-top: 1px solid #CCC;
  z-index: 999999;
}

ul.footer-menu {
  display: block;
  margin: 0;
  padding: 0;
}

ul.footer-menu li {
    display: inline-block;
    list-style: outside none none;
    padding: 5px 10px;
}

ul.footer-menu li a {
  color: #444;
}

/* SLIDER */
.carousel-caption h1 {
  color: #FFF;
  font-size: 34px !important;
  font-weight: bold;
  text-align: left;
  line-height: 1.3;
}

.carousel-indicators {
    position: absolute;
    bottom: 15px !important;
    right: 7.5% !important;
    z-index: 15;
    width: 90%;
    padding-left: 0px;
    margin-left: 0 !important;
    margin-bottom: -5px;
    text-align: center;
    list-style: outside none none;
    float: right;
    clear: both;
}

.carousel-indicators li {
    display: inline-block;
    width: 15px !important;
    height: 15px !important;
    margin: 1px 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #FFF !important;
    border: 0 ;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.4) inset, 0px 2px 2px rgba(0, 0, 0, 0.55);
}

.carousel-indicators .active {
    width: 15px !important;
    height: 15px !important;
    margin: 1px 3px;
    background-color: #DE1258 !important;
}


.carousel-caption {
    padding-bottom: 0;
    position: absolute;
    bottom: 5px;
    left: 5.5% !important;
    z-index: 10;
    padding-top: 20px;
    color: #FFF;
    text-align: left !important;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
}

.carousel-caption p {
  font-size: 18px;
  font-weight: 400;
  color: #FFF !important;
  padding: 0 !important;
}

.carousel-caption p.btn {
  margin: 10px 0 15px 0;
  padding:0;
}
.carousel-caption a, .carousel-caption a:visited {
    padding: 10px 20px;
    background-color: #D9124E;
    color: #FFF;
    font-size: 18px;
    font-weight: normal;
    margin: 0px auto;
    transition: background-color 300ms linear 0s;
    z-index: 9999;
}

.carousel-caption a:hover {
    padding: 10px 20px;
    background-color: #195181;
    color: #FFF;
    font-size: 18px;
    font-weight: normal;
    margin: 0px auto;
    transition: background-color 300ms linear 0s;
    z-index: 9999;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-control.left {
    left:0;
    right: auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, transparent 100%);
    background-repeat: repeat-x;
    transition: background-color 300ms linear 0s;
    z-index: 10;
}

.carousel-control.right {
    right: 0px;
    left: auto;
    background-image: linear-gradient(to right, transparent 0px, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    transition: background-color 300ms linear 0s;
    z-index: 10;
}

.carousel-control:focus, .carousel-control:hover {
    color: #FFF;
    text-decoration: none;
    outline: 0px none;
    opacity: 0.3 !important;
    transition: background-color 300ms linear 0s;
}

.carousel-control:focus, .carousel-control:hover {
    color: #FFF;
    text-decoration: none;
    outline: 0px none;
    opacity: 0.3 !important;
    transition: background-color 300ms linear 0s;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 40px;
    color: #fff;
    opacity: 0.8;
}


/* CHAT */
#chat {
  position: fixed;
  width: 45px;
  height: 167px;
  right: 0px;
  bottom: 50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 99999;
}

#chat-mobile {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 0px;
  bottom: 20px;
  z-index: 99;
  opacity: 0.6;
}

#chat a {
  padding: 0;
  outline: 0;
  border: none;
}

#chat:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 1px 4px 32px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 4px 32px -10px rgba(0,0,0,0.75);
  box-shadow: 1px 4px 32px -10px rgba(0,0,0,0.75);
}

/* UNDERLINE animation  */
.underline {
  position: relative;
  color: #ff3296;
}
.underline:after {
  display: block;
  position: absolute;
  left: 0px;
  bottom: -7px;
  width: 0;
  height: 2px;
  background-color: #E21264;
  content: "";
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.underline:hover {
  color: none;
  background: none;
}
.underline:hover:after {
  width: 100%;
}

.banner > a.underline:after {
  display: block;
  position: absolute;
  left: 0px;
  bottom: -20px;
  width: 0;
  height: 3px;
  background-color: #E21264;
  content: "";
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

a.underline-n:after {
 display: block;
 position: absolute;
 left: 0px;
 bottom: 0px;
 width: 0;
 height: 3px;
 background-color: #E21264;
 content: "";
 -webkit-transition: all 0.7s;
 -moz-transition: all 0.7s;
 -o-transition: all 0.7s;
 transition: all 0.7s;
}

<<<<<<< HEAD
/* SOCIAL MEDIA - Homepage  */
#social-media .nav-tabs > li.active > a,
#social-media .nav-tabs > li.active > a:focus,
#social-media .nav-tabs > li.active > a:hover {
    color: #195181;
    cursor: default;
    background-color: #FFF;
    font-size: 18px;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #DDD #DDD transparent;
}

#social-media .nav-tabs > li > a {
    color: #767F7F;
    cursor: pointer;
    background-color: #ECF0F5;
    font-size: 18px;
    font-weight: normal;
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 4px 4px 0px 0px;
    padding: 10px 35px 10px 15px !important;
}

#social-media .nav-tabs > li > a:hover {
    background-color: #A5AFB7;
    color: #4E5154;
}

#social-media .nav-tabs {
    border-bottom: none;
}

.social-media-header {
  background-color: #ECF0F5;
}


.social-tab-icon {
  padding: 15px 10px;
}

.entry-title {
  font-size: 16px;
  padding: 5px 0;
  line-height: 1.4;
}

.entry-title a {
  font-weight: normal;
  color: #195181;
}

.entry-title a:hover, #social-media a:hover {
  color: #000;
}


#social-media p {
  color: #383F3F;
}

#social-media a {
  color: #195181;
}

#social-media h5 {
  color:#2A557E;
  font-size: 16px;
  font-weight: normal;
}

.social-media-box {
  background-color: #CBD7E3;
}

.social-media-box ul {
 display: block;
 margin: 0;
 padding: 0 0 0 30px;
}

.social-media-box ul li {
 display: inline-block;
 padding: 15px 5px;
}
.social-media-box ul li a {
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.social-media-box ul li a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

h2.social-title {
  font-size: 24px;
  font-weight: 300;
  color: #545454;
}

/* FB width fix */
  fb_iframe_widget > span > iframe {
      width: 100% !important;
  }

  div._2p3a {
      width: 100% !important;
  }
=======
/* 404 */
.suggestions {
  position: relative;
  float: right;
  clear: both;
  overflow: hidden;
}
>>>>>>> master

ul.see-more{
  padding: 0;
  margin: 5px 10px;
}

ul.see-more li {
  list-style: none;
  padding: 5px 0;
}

/* FIXES */
*:focus {
    outline: 0 !important;
    border: none;
}

.padding {
  padding: 0 5px !important;
}

.padding10 {
  padding: 0 10px !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.padding0 {
  padding:0 !important;
}

.padding-l {
  padding-left: 15px;
}

.padding-r {
  padding-right: 15px;
}

.nopadding-l {
  padding-left: 0 !important;
}

.nopadding-r {
  padding-right: 0 !important;
}

.padding20 {
  padding: 20px !important;
}

.padding-top  {
  padding-top: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.margin-reset {
 margin: 0 !important;
}

.full-width {
  max-width: 100% !important;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.right {
  text-align: right;
  margin: 0 auto;
}

.left {
  text-align: left;
  margin: 0 auto;
}

.spacer {
  height: 40px !important;

}

.spacer25 {
  height: 25px !important;
}

.spacer10 {
  height: 10px !important;
}

.tab-content p {
  font-size: 15px;
  color: #444444;
  margin: 10px 0 !important;
  padding: 0 !important;
}

.pluginSkinLight > div {width: 100% !important;}

.fb_iframe_widget > span{
    width: 100% !important;
}


/* display only on mobile */
.mobile {
  display: none;
  visibility: hidden;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

/*for FireFox*/
    input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner
    {
        border : 0px;
    }
/*for IE8 */
    input[type="submit"]:focus, input[type="button"]:focus
    {
        outline : none;
    }
