body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#home-page-container{
  border: 1px dotted red;
  height: 1000px;
  width: 80%;
}

#home-page-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #cbcac5;
}
#search{
  width: 30%;
}
