<div class="panel panel-default gs">
  <div class="row results-header">
    <div class="mob-rem">
      <% include no_of_results_site %>
      <% include items_per_page %>
      <% include pagination %>
    </div>
  </div>
  <% if (siteResult && siteResult.pages && siteResult.pages.length > 0) { %>
    <hr class="margin-reset mob-rem">
  <% } %>
  <div class="panel-body padding15">
    <% if (noSearch) { %>
      <div class="center">
        <h3 class="light">Welcome to the search page. Go ahead and start searching!</h3>
        <img class="search" src="../../images/search-icon.png" alt="" />
      </div>
    <% } else if (siteResult == null || siteResult.pages == null || siteResult.pages.length == 0) { %>
      <div class="center">
        <h3 class="light">No matches for '<%= params.searchCriteria %>'.</h3>
        <img class="search" src="../../images/search-icon.png" alt="" />
      </div>
    <% } else { %>
      <% for(var i=0; i<siteResult.pages.length; i++) { %>
        <div id="site-result">
          <h3><a href="<%= siteResult.pages[i].url %>"><%= siteResult.pages[i].title %></a></h3>
          <div><%= prune(striptags(siteResult.pages[i].content), 300, "...") %></div>
        </div>
        <hr>
      <% } %>
    <% } %>
    <div class="row results-footer mob-center">
      <% include no_of_results_site %>
      <% include items_per_page %>
      <% include pagination %>
    </div><!-- END row-->
  </div><!-- END Panel-body -->
</div>
