<!-- SITE SEARCH RESULTS -->
<div id="site-search-results" class="tab-pane fade">
  <div class="panel panel-default gs">
    <div class="row results-header">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <!-- TODO: number of results goes here -->
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div id="pagination">
        <nav>
          <!-- TODO: page NAVIGATION goes here -->
        </nav>
      </div> <!-- END Pagination -->
      </div>
    </div>
  <div class="panel-body">
      <!-- TODO: Results goes here -->
    <div class="row results-footer">
      <div class="col-lg-4 col-md-4 col-sm-4 pull-left">
        <!-- TODO: number of items per page goes here -->
      </div><!-- END left column-->
      <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
        <div id="pagination">
          <nav>
            <!-- TODO: page NAVIGATION goes here -->
          </nav>
        </div> <!-- END Pagination -->
      </div><!-- END right column-->
    </div><!-- END Row-->
  </div> <!-- END Panel-body -->
</div><!-- END Panel -->
