<!DOCTYPE html>
<html>
<head>
  <title> Graduate School USA </title>
  <% include ../partials/landing/head %>
  <script> var skipReCaptcha = <%= skipReCaptcha %>; </script>
</head>
<body>
<div class="loading" style="display:none;"></div>
<% include ../partials/landing/header %>
<% include ../partials/landing/mainsection %>
<% include ../partials//landing/footer %>
</body>
</html>
