<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/cart.css" />
    <% include ../../partials/head %>
    <script type="text/javascript" src="/javascripts/manage/user/change_password.js"></script>
    <link rel="stylesheet" href="/stylesheets/library/jquery-ui.css">
    <script src="/javascripts/library/jquery-ui.min.js"></script>
  </head>
  <body>
    <% include ../../partials/header %>
      <div id="container" class="container">

        <% if (pwChangeResult){%>
            <div id="success-outer" class="col-lg-12 col-md-12 col-sm-12 form-fix">
              <div id="gs-alert-success" class="alert alert-success" role="alert">
                <p>Your password has been updated. Please continue to navigate the site.</p>
              </div>
            </div>
        <%} else {%>

        <div id="main-outer" class="col-lg-12 col-md-12 col-sm-12 form-fix">
          <div id="gs-alert-error" class="alert alert-danger" role="alert" style="display:none;">
            <span id="gs-alert-remove" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"> </span>
            <p></p>
          </div> <!-- END gs-alert-error -->

          <% if (passwordResetRequired) { %>
          <div class="center">
            <p>For security purposes, please reset your password</p>
          </div>
          <div class="spacer10"></div>
          <% } %>

          <!-- pwChange-section -->
          <div id="pwChange-section" class="row">
            <div class="col-lg-12">
                <div id="pwChange">
                  <div id="gs-form">
                    <form id="pwChange-form" role="form">
                      <div id="form-wrap" class="center">
                        <div id="pwChange-form-content">
                          <div class="form-inline">
                            <span class="form-group">
                              <label for="oldPassword">Current Password</label>
                              <input type="password" id="oldPassword" name="oldPassword" class="form-control" tabindex="13">
                            </span>
                          </div>
                          <div class="form-inline">
                            <span class="form-group">
                              <label for="newPassword">New Password</label>
                              <input type="password" id="newPassword" name="newPassword" class="form-control" tabindex="14">
                            </span>
                          </div>
                          <div class="form-inline">
                            <span class="form-group">
                              <label for="confirmNewPassword">Confirm New Password</label>
                              <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" tabindex="15">
                            </span>
                          </div>
                          <div class="form-inline">
                            <button id="pwChange-form-submit" type="button" tabindex="16">Submit</button>
                          </div>
                        </div>
                      </div> <!-- END form-wrap -->
                    </form> <!-- END pwChange-form -->
                  </div>
                </div> <!-- END pwChange -->
            </div>
          </div> <!-- END pwChange-section -->
        </div> <!--END outer-->
        <%}%>
      </div> <!--END container-->
    <!-- Footer -->
    <% include ../../partials/footer %>
    <!-- END Footer  -->
    <!-- Chat  -->
    <% include ../../partials/chat %>
    <!-- END of Chat  -->
  </body>
</html>
