<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | <%= content.title %></title>
    <% include ../../partials/head %>
    <!--
    <script type="text/javascript" src="/javascripts/manage/user/createuser.js"></script>
    -->
  </head>
  <body>
    <% include ../../partials/header %>
    <header>
      <div id="container" class="container">
        <div class="loading" style="display:none;"></div>
        <div id="outer" class="col-lg-12 col-md-12 col-sm-12 form-fix padding20">

          <div id="gs-form" class="col-lg-9 col-md-9 col-sm-9">
              <!-- alert - error -->
              <div id="gs-form-alert-error" class="alert alert-danger" role="alert" style="display:none;">
                <span id="gs-form-alert-remove" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </div>
              <!-- alert - success -->
              <div id="gs-form-alert-success" class="alert alert-success" role="alert" style="display:none;">
                  <p><strong>Thank you for registering!</strong></p>
              </div>
          </div> <!--END gs-form-->

          <hidden id="offeringId" value="<%= offeringId %>"/>
          <div id="course-information" class="col-lg-3 col-md-3 col-sm-3 outer-border">
            <fieldset>
              <legend>Course Information</legend>
              <div>Session ID <%= offeringId %></div>
              <div>TODO: Display session/course information</div>
            </fieldset>
          </div> <!-- END course-information -->

        </div> <!--END outer-->
      </div> <!--END container-->
    </header>
    <!-- Footer -->
    <% include ../../partials/footer %>
    <!-- END Footer  -->
    <!-- Chat  -->
    <% include ../../partials/chat %>
    <!-- END of Chat  -->
  </body>
</html>
