<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | <%= content.title %></title>
    <% include ../../partials/head %>
    <!--
    <script type="text/javascript" src="/javascripts/manage/user/createuser.js"></script>
    -->
  </head>
  <body>
    <% include ../../partials/header %>
    <header>
      <div id="container" class="container">
        <div class="loading" style="display:none;"></div>
        <div id="outer" class="col-lg-12 col-md-12 col-sm-12 form-fix padding20">

          <div id="gs-form" class="col-lg-9 col-md-9 col-sm-9">
              <!-- alert - error -->
              <div id="gs-form-alert-error" class="alert alert-danger" role="alert" style="display:none;">
                <span id="gs-form-alert-remove" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </div>
              <!-- alert - success -->
              <div id="gs-form-alert-success" class="alert alert-success" role="alert" style="display:none;">
                  <p><strong>Thank you for registering!</strong></p>
              </div>

              <div id="register-user">
                <div class="alert alert-success" role="alert">
                    <p><strong>Thank you for creating an account, you may now <a href="http://saba-test-loadbalancer-1038476084.us-east-1.elb.amazonaws.com/Saba/Web/Main/goto/LearnerOffDetails?fromUSDARegistration=true&offeringId=<%= offeringId %>">login and register</a> for the class!</strong></p>
                </div>

              </div> <!-- END register-user-->
          </div> <!--END gs-form-->

        </div> <!--END outer-->
      </div> <!--END container-->
    </header>
    <!-- Footer -->
    <% include ../../partials/footer %>
    <!-- END Footer  -->
    <!-- Chat  -->
    <% include ../../partials/chat %>
    <!-- END of Chat  -->
  </body>
</html>
