#back-arrow{
  margin: 0 auto !important;
  padding-top: 13px !important;
}

p {
  text-align: center !important;
}

ul.menu.nav.nav-pills{
  display: inline-block !important;
  margin: 0 auto !important;
  float: none !important;

}
.centered-pills {
    text-align: center;
}
.centered-pills ul.nav-pills {
    display: inline-block;
}
.centered-pills li {
    display: inline;
}
.centered-pills a {
    float: left;
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline;
}
