<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Contact us to know more</title>
  <% include ../../partials/head %>
  <script type="text/javascript" src="/javascripts/contact_us.js"></script>
  <link rel="stylesheet" href="/stylesheets/contact_us.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <div class="container">
    <h1>Contact Us Form:</h1>
    <div id="contact-information">
      <div class="form-inline">
        <div class="form-group">
          <label for="inputFirstName">*First Name:</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="inputLastName">*Last Name:</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="inputEmail">*Email:</label>
          <input type="email" class="form-control">
        </div>
        <p>*** Select a Phone checkbox Goes Here***</p>
        <div class="form-group">
          <label for="inputPhone">*Daytime Phone Number:</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div id="subject-selection">
      <p>*** Select a Subject Goes Here***</p>
      <div class="form-inline">
        <div class="form-group">
          <label for="inputOtherCourse">Other Course or Subject:</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="comments">
      <p>Comments or Questions:</p>
      <textarea name="comments" rows="8" cols="40"></textarea>
    </div>
    <div id="captcha">
      <p>Insert Captcha Here:</p>
    </div>
    <button type="submit" value="submitForm">Submit</button>
    <button type="clear" value="clearForm">Clear</button>
    <br><br><br>
  </div><!-- Container Div -->
</body>
</html>
