<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <% include ../partials/head %>

  <link rel="stylesheet" href="/stylesheets/onsite_inquiry.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <div class="container">
    <div class="row nm header clearfix">
      <title><%= title %></title>
      <% include ../partials/header %>
      <!-- /end Row Container -->
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1><%= title %></h1>
          <!-- Accordion Container -->
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">CONTACT INFORMATION</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div id="contact-information">
                    <div class="form-inline">
                      <div class="form-group">
                        <label for="inputFirstName">*First Name:</label>
                        <input type="text" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="inputLastName">*Last Name:</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="communicationMode">*Preferred mode of communication</label>
                      <input type="radio" name="email" id="comm_email" value="Email">Email</>
                      <input type="radio" name="phone" id="comm_phone" value="Phone">Phone</>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail">Email:</label>
                      <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="inputPhone">Daytime Phone Number:</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="selectsubject">Select Subject line</label>
                      <select>
                        <% for (var i=0; i < subjectLine.question.length; i++) { %>
                          <option>
                            <%=subjectLine.question[i]["name"] %>
                          </option>
                          <br/>
                          <% } %>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="inputothersubject">Other:</label>
                        <textarea name="othersubject" rows="1" cols="40"></textarea>
                      </div>
                      
                      <div id="captcha">
               			 <p>Insert Captcha Here:</p>
             		 </div>
             		 
                    </div><!-- contact information div -->
                  </div>
                </div>
              </div>
              <br><br>
              <button type="submit" name="submitForm" value="submitForm">Submit</button>
              <button type="clear" name="clearForm" value="clearForm">Clear</button>

            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- END Accordion Container -->
<!-- END  Row -->
<% include ../partials/chat %>
<% include ../partials/footer %>
<script type="text/javascript" src="/javascripts/contact_us.js"></script>
<script>
$(function() {
  $('#ms').change(function() {
    console.log($(this).val());
  }).multipleSelect({
    width: '100%'
  });
});
</script>
</body>
</html>
