<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <% include ../partials/head %>

    <link rel="stylesheet" href="/stylesheets/onsite_inquiry.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
  <div class="container">
    <h1>
      <%= title %>:</h1>
    <div id="contact-information">
      <form id="contactForm" class="form">
        <div class="form-inline">
          <div class="form-group">
            <label for="inputFirstName">*First Name:</label>
            <input id="first-name" name="firstName" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputLastName">*Last Name:</label>
            <input id="last-name" name="lastName" type="text" class="form-control">
          </div>
          <div class="form-group, communication-mode">
            *Preferred mode of communication
            <input type="radio" name="communication" id="radioEmail" value="Email">Email
            </>
            <input type="radio" name="communication" id="radioPhone" value="Phone">Phone
            </>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email:</label>
            <input id="email" name="email" type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputPhone">Daytime Phone Number:</label>
            <input name="phone" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="selectsubject">Select Subject line</label>
            <select>
              <% for (var i=0; i < subjectLine.question.length; i++) { %>
                <option>
                  <%=subjectLine.question[i]["name"] %>
                </option>
                <br/>
                <% } %>
            </select>
          </div>

          <div class="form-group">
            <label for="inputothersubject">Other:</label>
            <textarea id="other" name="othersubject" rows="1" cols="40"></textarea>
          </div>

        </div>
        <div class="comments">
          <p>Comments or Questions:</p>
          <textarea id="commentText" name="comments" rows="8" cols="40"></textarea>
        </div>
        <div id="captcha">
          <p>Insert Captcha Here:</p>
        </div>
        <button type="submit" id="submitForm" name="submitForm" value="submitForm">Submit</button>
        <button type="clear" name="clearForm" value="clearForm">Clear</button>
    </div>
    </form>
    <br>
    <br>
    <br>
  </div>
  <!-- Container Div -->
  <!-- END Accordion Container -->
  <!-- END  Row -->
  <% include ../partials/chat %>
    <% include ../partials/footer %>
      <script type="text/javascript" src="/javascripts/contact_us.js"></script>
      <script>
        $(function() {
          $('#ms').change(function() {
            console.log($(this).val());
          }).multipleSelect({
            width: '100%'
          });
        });
      </script>

</body>

</html>
