<!DOCTYPE html>
<html>

  <head>
    <title>
      Graduate School USA
    </title>
    <% include ../partials/head %>
    <link href='/stylesheets/course_search.css' rel='stylesheet'/>
    <link href="/stylesheets/library/spinners.css" rel="stylesheet">
  </head>

  <body>
    <% include ../partials/header %>
    <div class="container">
      <div class="loading" style="display:none;"></div>
      <div class="row" id="customerForm">
        <div class="col-lg-9 col-md-9 col-sm-8"></div>
        <div class="tab-content">
          <div class="" id="contact_us_form">
            <% include partials/contact_us.ejs %>
          </div>
          <div class="" id="customer_feedback_form">
            <% include partials/customer_feedback.ejs %>
          </div>
        </div>
      </div>

    </div>
    <% include ../partials/chat %>
    <% include ../partials/footer %>
    <script src="/javascripts/forms/customer_form.js" type="text/javascript"></script>
    <script src="/javascripts/contact_us.js" type="text/javascript"></script>

  </body>

</html>
