<!DOCTYPE html>
<html>
<head>
  <title> Graduate School USA | <%= title %></title>
  <% include ../partials/head %>
  <script>
    var skipReCaptcha = <%= skipReCaptcha %>;
  </script>
  <link rel="stylesheet" href="/stylesheets/library/spinners.css">
  <script type="text/javascript" src="/javascripts/library/validator.min.js"></script>
  <script type="text/javascript" src="/javascripts/forms/clientServerValidations/validations.js"></script>
  <script type="text/javascript" src="/javascripts/forms/clientServerValidations/customer_feedback_validations.js"></script>
  <script type="text/javascript" src="/javascripts/forms/contact_us.js"></script>
  <script type="text/javascript" src="/javascripts/forms/customer_feedback.js"></script>
  <script type="text/javascript" src="/javascripts/forms/customer_form.js"></script>
  <script type="text/javascript">
      var onloadCallback = function() {
        contactusCaptchaID = grecaptcha.render('contactusCaptcha', {
          'sitekey' : '6Lfj4AsTAAAAAB0NCpQUY3AEeoisB-iNUvzbFsbh',
        });
        customerFeedbackCaptchaID = grecaptcha.render('customerFeedbackCaptcha', {
          'sitekey' : '6Lfj4AsTAAAAAB0NCpQUY3AEeoisB-iNUvzbFsbh',
        });
      };
  </script>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</head>
<body>
  <% include ../partials/header %>
    <div class="container">
      <div class="loading" style="display:none;"></div>
      <div id="customerForm" class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div id="gs-tabs">
            <div class="tabs">
              <ul id="formTabs" class="nav nav-tabs">
                <% if (selectedForm == "contact-us") { %>
                  <li class="active"><a data-toggle="tab" href="#contact-us-tab">Contact Us</a></li>
                  <li><a data-toggle="tab" href="#customer-feedback-tab">Customer Feedback</a></li>
                <% } else { %>
                  <li><a data-toggle="tab" href="#contact-us-tab">Contact Us</a></li>
                  <li class="active"><a data-toggle="tab" href="#customer-feedback-tab">Customer Feedback</a></li>
                <% } %>
              </ul>
            </div>
            <div class="tab-content">
              <% if (selectedForm == "contact-us") { %>
                <div id="contact-us-tab" class="tab-pane fade in active">
              <% } else { %>
                <div id="contact-us-tab" class="tab-pane fade">
              <% } %>
                <div id="contact_us_form" class="">
                  <% include partials/contact_us.ejs %>
                </div>
              </div>
              <% if (selectedForm == "feedback") { %>
              <div id="customer-feedback-tab" class="tab-pane fade in active">
              <% } else { %>
                <div id="customer-feedback-tab" class="tab-pane fade">
              <% } %>
                <div id="customer_feedback_form" class="">
                  <% include partials/customer_feedback.ejs %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/chat %>
    <% include ../partials/footer %>
</body>
</html>
