<!DOCTYPE html>
<html>
<head>
  <title> Graduate School USA </title>
  <% include ../partials/head %>
  <link rel='stylesheet' href='/stylesheets/course_search.css' />
  <link rel="stylesheet" href="/stylesheets/library/spinners.css">
</head>
<body>
<% include ../partials/header %>
<div  class="container">
  <div class="loading" style="display:none;"></div>
  <div id="customerForm" class="row">
    <div class="col-lg-9 col-md-9 col-sm-8">
    </div>
    <div class="tab-content">
      <div id="contact_us_form" class="">
        <% include partials/contact_us.ejs %>
      </div>
      <div id="customer_feedback_form" class="">
        <% include partials/customer_feedback.ejs %>
      </div>
    </div>
  </div>


</div>
<% include ../partials/chat %>
<% include ../partials/footer %>
<script type="text/javascript" src="/javascripts/forms/customer_form.js"></script>
<script type="text/javascript" src="/javascripts/contact_us.js"></script>


</body>
</html>`

