<!DOCTYPE html>
<html>
<head>
<title> Graduate School USA | <%= title %></title>
<% include ../partials/head %>
<script>
  var skipReCaptcha = <%= skipReCaptcha %>;
</script>
<link rel="stylesheet" href="/stylesheets/library/spinners.css">
<script type="text/javascript" src="/javascripts/library/validator.min.js"></script>
<script type="text/javascript" src="/javascripts/forms/clientServerValidations/validations.js"></script>
<script type="text/javascript" src="/javascripts/forms/clientServerValidations/customer_feedback_validations.js"></script>
<script type="text/javascript" src="/javascripts/forms/contact_us.js"></script>
<script type="text/javascript" src="/javascripts/forms/customer_feedback.js"></script>
<script type="text/javascript">
  var onloadCallback = function () {
    contactusCaptchaID = grecaptcha.render('contactusCaptcha', {
      'sitekey': '6Lfj4AsTAAAAAB0NCpQUY3AEeoisB-iNUvzbFsbh',
    });
    customerFeedbackCaptchaID = grecaptcha.render('customerFeedbackCaptcha', {
      'sitekey': '6Lfj4AsTAAAAAB0NCpQUY3AEeoisB-iNUvzbFsbh',
    });
  };
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</head>
<body>
<% include ../partials/header %>
<div class="container">
  <div class="loading" style="display:none;"></div>
    <div id="customerForm" class="row">
      <div class="col-lg-9 col-md-9 col-sm-12">
        <div id="gs-tabs">
          <div class="tabs">
            <ul id="formTabs" class="nav nav-tabs">
              <% if (selectedForm == "contact-us") { %>
                <li class="active"><a data-toggle="tab" href="#contact-us-tab">Contact Us</a></li>
                <li><a data-toggle="tab" href="#customer-feedback-tab">Customer Feedback</a></li>
              <% } else { %>
                <li><a data-toggle="tab" href="#contact-us-tab">Contact Us</a></li>
                <li class="active"><a data-toggle="tab" href="#customer-feedback-tab">Customer Feedback</a></li>
              <% } %>
            </ul>
          </div>
          <div class="tab-content">
            <% if (selectedForm == "contact-us") { %>
              <div id="contact-us-tab" class="tab-pane fade in active">
            <% } else { %>
              <div id="contact-us-tab" class="tab-pane fade">
            <% } %>
            <div id="contact_us_form" class="">
              <% include partials/contact_us.ejs %>
            </div>
          </div>
          <% if (selectedForm == "feedback") { %>
            <div id="customer-feedback-tab" class="tab-pane fade in active">
          <% } else { %>
            <div id="customer-feedback-tab" class="tab-pane fade">
          <% } %>
          <div id="customer_feedback_form" class="">
            <% include partials/customer_feedback.ejs %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12" id="sidebar">
    <div class="spacer mobile"></div>
      <div class="panel-group">
        <div class="panel panel-default related-links">
          <div class="panel-heading related-links">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#related-links">Related links</a>
            </h4>
          </div>
          <div id="related-links" class="panel-collapse collapse in">
            <div class="panel-body">
              <ul>
                <li data-placement="top" data-toggle="tooltip" title="Call Graduate School">
                  <a id="nav-menu-contact-us-phone" href="tel:+18887444723"><img src="/images/call-us.png" alt="" />(888) 744-4723</a>
                </li>
                <hr>
                <li data-placement="top" data-toggle="tooltip" title="Fax Graduate School">
                  <a id="nav-menu-contact-us-fax" href="#"><img src="/images/fax-us.png" alt=""/>(866) 329-4723</a>
                </li>
                <hr>
                <li data-placement="top" data-toggle="tooltip" title="Chat with Graduate School">
                  <a id="nav-menu-contact-us-chat" href="https://livechat.boldchat.com/aid/391752780525725401/bc.chat?resize=true&amp;cbdid=387983771792672006" target="_blank" onclick="window.open((window.pageViewer &amp;&amp; pageViewer.link || function(link){return link;})(this.href + (this.href.indexOf('?')>=0 ? '&amp;' : '?') + 'url=' + escape(document.location.href)), 'Chat391752780525725401', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');return false;"><img src="/images/chat-with-us.png" alt="" />Chat</a>
                </li>
              </ul>
              <hr>
              <p>
                <div class="center address-block block">
                  <span class="inline-block glyphicon glyphicon-map-marker glyphicon-contact-us pull-left" data-toggle="modal"  data-target="#mapModal"
                        aria-hidden='true' data-city=' - Washington,DC' data-address='600 Maryland Avenue,S.W.,Washington,DC 20024-2520'></span><span class="inline-block address-contact-form">600 Maryland Avenue, S.W.,<br>Washington, DC 20024-2520</span>
                </div>
              </p>
              <p class="center" data-placement="top" data-toggle="tooltip" title="Email to Graduate School">
                <a class="email-address-link" id="nav-menu-contact-email" href="mailto:customersupport@graduateschool.edu">customersupport@graduateschool.edu</a>
              </p>
              <p class="center">
                <a id="emailNow" class="blueish" href="mailto:customersupport@graduateschool.edu" role="button">EMAIL NOW!</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
 </div>
</div>

<% include ../partials/chat %>
<% include ../partials/footer %>

</body>
</html>
