
<div id="gs-form">
    <div id="request-information">
      <div id="messages">
          <div id="alertError" class="alert alert-danger" role="alert" style="display:none;">
              <span id="removeAlert" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
          </div>
          <div id="alertSuccess" class="landingSuccessMessage center" role="alert" style="display:none;">
              <h4 id="sucessDiv"><b>Thank you for your interest in Graduate School USA.</b></h4>
              <p>Someone will be contacting you as soon as possible.</p>
              <img id="gs-seal" src="/images/gs-seal.png" alt="Graduate School Seal"  class="seal" />

          </div>
      </div>
      <div id="request-information-form">
        <h1>Request more information</h1>
        <h3>Fill out the form to request more information.</h3>
          <form role="form" id="landing">
            <div class="form-inline">
              <span class="form-group">
                <label for="inputFirstName">*Full Name</label>
                <input id="txtFirstName" name="firstName" type="text" class="form-control" required>
              </span>
              <span class="form-group">
                  <label for="inputEmail">*Email</label>
                  <input id="txtEmail" name="email" type="email" maxlength="255" required class="form-control">
              </span>
              <span class="form-group">
                  <label for="inputPhone">Phone Number</label>
                  <input id="telPhone" name="phone" type="tel" maxlength="12" class="form-control">
              </span>
            </div>
            <% include partials/footnote %>
            <div class="form-inline submit-button-right">
              <span class="form-group">
                <div class="submit-button">
                    <button type="submit" id="submitForm" name="submitForm" value="submitForm">Submit</button>
                </div>
              </span>
            </div>
              <input type="hidden" id="email" value="<%= email %>" />
              <input type="hidden" id="moreInfo" value="<%= moreInfo %>" />
          </form>
      </div>
    </div>
</div><!-- END Request more information  -->
