<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
    <% include ../partials/head %>
  </head>
  <body>
  <!--  Header include -->
<div class="container-fluid">
      <div class="container">
        <div class="row nm header clearfix">
          <% include ../partials/header %>
        </div> <!-- END Row  -->
      </div><!-- END Container  -->
  <!-- END Header include -->
<!-- Page Content -->
      <div class="container">
        <h1>
          <%= title %>
        </h1>

        <p>
          <%- body %>
        </p>
        <br/>
      </div> <!-- /end Container -->
<!-- END Page Content -->
    <!-- Include Footer Here! -->
      <% include ../partials/footer %>
</div><!-- END Container-fluid -->
    <% include ../partials/chat %>
    <!-- END of chat  -->
  </body>
</html>
